[2021-06-04 17:57] cliftonvella commented on #163
@frankshen01 Thanks a lot for the very detailed explanation. You’re a life saver!

At one point I did try defining the interface members using a dynamic block, but I was trying to assign the dynamic block as a value to the interface attribute, which obviously did not work. I got a bit confused because I have already done this on Ansible and over there the fortios interface module actually accepts

[2021-06-04 18:31] frankshen01 commented on #163
@cliftonvella  You're welcome!

_> At one point I did try defining the interface members using a dynamic block, but I was trying to assign the dynamic block as a value to the interface attribute, which obviously did not work. I got a bit confused because I have already done this on Ansible and over there the fortios interface module actually accepts a member attribute, while the Terraform module d

[2021-06-08 12:34] cs-amatziab opened #165 "Error creating SystemInterface resource when creating an interface resource"
Hi
im trying to create an ipsec tunnel and add the tunnel to the interface at the end
i used the interface example as seen down here but i keep getting

**│ Error: Error creating SystemInterface resource: Resource Not Found - Unable to find the specified resource (404)
│
│   with fortios_system_interface.trname3,
│   on fortigate-vpn.tf line 172, in resource "fortios_system_interface" "trname3":
│

[2021-06-09 12:49] ilfox opened #166 "data source fortios_system_interface ip returning incorrect syntax"
When querying an interface IP, according to the [documentation](https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/data-sources/fortios_system_interface#ip), instead of returning the value in the CIDR notation, a netmask is being returned.

[code]

from what I can see in the module, there isn't a conversion being done similar to the TrustIP vars

IP -> https://github.com/forti

[2021-06-09 21:29] lix-fortinet commented on #165
Hi,

You can try to use phase1's name in resource fortios_system_interface, like this:
[code]

FortiGate will create a tunnel interface based on phase1's name of VPN tunnel. So, FortiGate will return this error since no phase2's name in system interfaces.

Thanks,
Xing

[2021-06-10 09:06] cs-amatziab commented on #165
@lix-fortinet thanks that resolved my issue

[2021-06-10 09:06] #165 closed

[2021-06-10 12:11] cliftonvella commented on #163
Hello @frankshen01, thanks a lot for your detailed answer once again. I will definitely check out that book you recommended.

[2021-06-10 14:54] cliftonvella opened #167 "Terraform not aware of VDOM link interface members"
Terraform Version: 0.15.4
FortiOS Provider Version: 1.12.1

Hello,

I am creating a set of VDOM links using the following resource block:

[code]

In variables.tf:

[code]

The VDOM links are created correctly, including two members interfaces in each one:

![image](https://user-images.githubusercontent.com/64091227/121536429-5550bf80-ca03-11eb-9649-2b02bae12e08.png)

When checking the state file

[2021-06-11 10:26] #163 closed

[2021-06-14 04:50] frankshen01 commented on #127
@poroping
[code]
Supported and released, please see the latest version(v1.13.0): https://registry.terraform.io/providers/fortinetdev/fortios/latest   for details. BTW: I don’t seem to find the ospf6 network you mentioned in the API. Thanks!

[2021-06-14 04:51] frankshen01 commented on #137
Supported and released, please see the latest version(v1.13.0): https://registry.terraform.io/providers/fortinetdev/fortios/latest and https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_securitypolicy for details

[2021-06-14 04:56] frankshen01 commented on #157
Hi @pacrutchet Supported and released, please see the latest version:
https://registry.terraform.io/providers/fortinetdev/fortios/latest
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_centralsnatmap_move
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_centralsnatmap_sort

https://registry.terrafo

[2021-06-14 04:57] frankshen01 commented on #162
Hi @pacrutchet Supported and released, please see the latest version:
https://registry.terraform.io/providers/fortinetdev/fortios/latest
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_proxypolicy_move
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_proxypolicy_sort

https://registry.terraform.io/

[2021-06-14 05:05] frankshen01 commented on #164
Fixed and released, please see the latest version: https://registry.terraform.io/providers/fortinetdev/fortios/latest
[code]

[code]
[code]
Thanks!

[2021-06-14 06:20] frankshen01 commented on #166
Hi @ilfox , validateConvIPMask2CIDR, this function is not intended to force the result from ipmask to CIDR, this function is mainly for maintaining state consistency of terraform plan. For example:

For trusthost, if the user uses 1.1.1.1/24 when configuring trusthost, but because the API will return 1.1.1.1 255.255.255.0, if no conversion is done at this time, the terraform plan will display inco

[2021-06-14 07:18] frankshen01 commented on #167
Hi @cliftonvella ,

As described in the document: [fortios_system_interface](https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_system_interface) : _autogenerated-Indicates whether the interface is automatically created by FortiGate._

`autogenerated` should be added to your auto-generated interface configuration.

**Validation:**
[code]

[code]

[code]

**_R

[2021-06-15 13:02] cliftonvella commented on #167
Hi @frankshen01,

Once again thanks a lot for your support. To be honest I've never used the "depends_on" meta argument before.

I've also bought the "Terraform up and running" book you recommended. It's really informative and seems to cover Terraform in great detail :)

Regards,

Clifton

[2021-06-16 08:22] pacrutchet commented on #157
It works thanks a lot!

[2021-06-16 08:22] #157 closed

[2021-06-16 08:23] pacrutchet commented on #162
It works thanks a lot!

[2021-06-16 08:23] #162 closed

[2021-06-17 17:45] #164 closed

[2021-06-17 17:45] #127 closed

[2021-06-17 20:42] poroping commented on #166
Sorry for the hijack but I've been wondering if the provider should implement this in every situation of IP/Mask.

For our IaC pipeline we are utilising CIDR format everywhere as the majority of the other vendors we are utilising Terraform for use this format. At the moment I have to do a bunch of data mutation to convert to IP netmask. It would be much easier if the provider could handle this.

H

[2021-06-21 10:24] #73 closed

[2021-06-21 12:48] poroping opened #170 "fortios_firewall_sslsshprofile server_cert attribute inconsistent"
There is a function that seems to only apply to 7.0.x that wraps the string in "". This is causing inconsistent state on reapply.

To reproduce:

[code]

[code]

[2021-06-23 08:44] frankshen01 commented on #170
Thanks for the issue. This is a problem caused by API changes. We will contact the relevant team and try to find the most suitable solution. Before that, the following workaround can be used as alternatives:
[code]

[code]
[code]
[code]
Thank you!

[2021-06-25 14:24] crougher opened #171 "provider "fortios" hostname"
Hi,

Im using 40net-cloud github https://github.com/40net-cloud/fortinet-azure-solutions/tree/main/FortiGate/Terraform/Active-Passive-ELB-ILB/terraform for FTG in Azure by using terraform.

My goal is to use terraform to deploy FGT in Azure, and also use terraform fortios to apply configuration after FGT-VM is UP.
Im trying to feed hostname with following variable: azurerm_public_ip.fgtamgmtpip.ip

[2021-07-06 15:22] ccourson opened #172 "Error: expected vlan_cos_rev to be in the range (0 - 7), got 255"
Hello,

While performing `terraform plan -refresh=false`, having tf.policy.tf.json including lines as follows:

[code]

I get the following errors:

Documentation states:

* vlan_cos_fwd - VLAN forward direction user priority: **255** passthrough, 0 lowest, 7 highest.
* vlan_cos_rev - VLAN reverse direction user priority: **255** passthrough, 0 lowest, 7 highest.

If I omit ```vlan_cos_fwd``` and

[2021-07-07 00:05] lix-fortinet commented on #171
Hi @crougher,

Based on your output, it seems like hostname not been assigned any value. Please try the following steps:
    1. Add "data" in front of "azurerm_public_ip.fgtamgmtpip.ip_address" and try it again, like this:
[code]
    2. If previous step not work, please check whether IP address is existed for your FGT-VM in Azure.

Please let me know if it still not work after tried these steps.

[2021-07-07 17:11] lix-fortinet commented on #172
Hi @ccourson ，

Yes, if you omit ```vlan_cos_fwd``` and ```vlan_cos_rev```, they will be treated as passthrough.

Thanks,
Xing

[2021-07-07 17:26] #172 closed

[2021-07-26 08:47] sunch4se opened #173 "fortios_system_interface cannot deploy to other vdom than "root""
Hello,

I'm trying to setup VLAN-Interfaces in a specific vdom "vdom1" (FortiOS 6.4.6). Here's my main.tf:

[code]

This fails with a HTTP 500:

[code]

Using `vdomparam = "vdom1"` I can directly deploy this in the target vdom. This also fails with a HTTP 500:

[code]

However deploying the above debug commands manually works absolutely fine. Also, deploying this in vdom "root" with terraform is a

[2021-07-26 23:11] lix-fortinet commented on #173
Hi @sunch4se ,

Thank you for raising the issue. Could you check whether the value is "_super_admin_" for the parameter of "_accprofile_" in the api-user which owns the token in your provider? If not, please set it to "_super_admin_" and try it again.

Global based resources need "_super_admin_" rights to have the permission to access. Please check here: https://registry.terraform.io/providers/for

[2021-07-27 06:54] sunch4se commented on #173
Hello Xing,

I guess I was not reading the full documentation - after applying super_admin permissions it works like a charm!
Thank you!

[2021-07-27 06:54] #173 closed

[2021-08-24 05:49] jsingh126 opened #174 "Generating firewall policy from csv"
I am trying to create firewall policy by importing the variables from csv file. Error is only seen when I create from the csv. If  I directly put the variables in tf file then it works fine. Please help.

Current version
FortiOS v7.0.0 build0066 (GA)

Terraform : Terraform version: 0.14.3

CSV format :

sequence | Name | srcaddr | destaddr | svc | srcintf | destintf
-- | -- | -- | -- | -- | -- | -

[2021-09-14 11:07] gmintoco opened #175 "Cannot set protocol options on FortiWifi 61F v6.2.9 build1234 (GA)"
We are using a:

FortiWiFi 61F
v6.2.9 build1234 (GA)

Terraform Versions:
[code]
When we try and set protocol options as outline in the example here:

[code]

We get a 500 internal server error. I cannot work out a valid configuration that won't error.
Thanks in advance

[2021-09-14 16:12] gmintoco opened #176 "How to reorder shaping policies"
When creating shaping policies with the provider: https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_shapingpolicy

How do we reorder these policies similar to: https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_security_policyseq

or https://registry.terraform.io/providers/fortinetdev/fortios/latest/do

[2021-09-15 00:16] lix-fortinet commented on #175
Hi @gmintoco ,

Thank you for raising this issue. Teams are working on this issue.

The reason for this issue is missing one or more block(s) of (http, ftp, imap, mapi, pop3, smtp, nntp, ssh, dns, cifs, mail-signature). Could you add 'ssh' and 'cifs' and try it again, like this:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2021-09-15 00:27] lix-fortinet commented on #176
Hi @gmintoco ,

Thank you for raising this issue. This link has the details of how to move a policy:
`https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/guides/fgt_policymove`

Please let me know if you have any questions.

Thanks,
Xing

[2021-09-15 08:52] gmintoco commented on #175
Hi Xing,

I still have the same issue when using this config (what you provided).

I made sure that there was no duplicate entries in the fortigate already. Any other ideas?

[code]
Thanks

[2021-09-15 08:57] gmintoco commented on #176
Thanks Xing,
Are the any plans to create resources like policyseq and policysort for other resource types (sdwan, traffic shaping for example)?
Cheers

[2021-09-15 19:01] lix-fortinet commented on #175
Hi @gmintoco ,

It seems like due to missing parameters `comfort_interval` and `comfort_amount` for block `ssh`. Could you add these two parameters and try it again? Like this:
[code]

Please let me know if still not work.

Thanks,
Xing

[2021-09-15 20:45] lix-fortinet commented on #176
Hi @gmintoco ,

Sorry that, we do not plan to create resources for other resource types.

Thanks,
Xing

[2021-09-16 14:49] shanecottey opened #177 "Blocks with 'name' argument is limited to 64 characters"
When attempting to build a [fortios_firewall_vipgrp](https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_vipgrp) that contains dozens of [fortios_firewall_vip](https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_vip) objects as members, I am receiving an error that says
`Error: expected length of member.n

[2021-09-16 15:47] gmintoco commented on #176
Hi @lix-fortinet

is their a process for feature requests? This kind of functionality would be useful because as far as I can see the generic json api resource does not support maintaining state. IE if the policies are manually moved it won't check if they are in the correct order.

There are many kinds of order-based policies in FortiGate (as I'm sure you know) and being able to configure them in

[2021-09-17 06:48] fariborzsaffari opened #178 "Can not Add Realservers block in VIP"
hi ..
we i add realserver block to my code i got error 500
below is my sample code
i cant find any sample that shows how to add realservers block
######
resource "fortios_firewall_vip" "cloud_lb_test" {
  type                             = "server-load-balance"
  color                            = 0
  extintf                          = "any"
  extip                            = "My Public IP"
  ex

[2021-09-17 21:26] lix-fortinet commented on #178
Hi @fariborzsaffari ,

Thank you for raising this issue. Could I know which version of FOS do you use?

Thanks,
Xing

[2021-09-17 21:54] lix-fortinet commented on #177
Hi @shanecottey ,

Thank you for raising this issue. This is a problem caused by schema merging. FOS v6.0 has the length limitation of 63 characters. But after v6.2, it has extended to 79 characters.

Team are working on this issue. And we will fix it in the next release. Before that, you could use generic resource as alternatives:
`https://registry.terraform.io/providers/fortinetdev/fortios/lates

[2021-09-17 21:59] lix-fortinet commented on #176
Hi @gmintoco ,

Thank you for your request. We will consider it.

Please let me know if you have any questions.

Thanks,
Xing

[2021-09-18 04:11] fariborzsaffari commented on #178
I worked with the latest version of FortiOS, 7.0.1
I also noticed that some configurations do not apply, such as ldb-method, after any changes.
thanks in advance for your help

[2021-09-20 02:10] bridgepate opened #179 "Plan fails with Error 500 but resource gets created"
Hi,

I am trying to create a fortios_webfilter_profile resource using the Fortios provider, but the plan fails with "Internal server error", **even though the plan fails we can see both the resource (urlfilter + webprofile) gets created on the FG firewall**. The Fortigate provider version is 1.10.4.
[code]
[web-profile.txt](https://github.com/fortinetdev/terraform-provider-fortios/files/7193321/we

[2021-09-20 10:44] gmintoco commented on #175
Hi @lix-fortinet thanks a lot this worked properly.

[2021-09-20 10:44] #175 closed

[2021-09-20 10:46] gmintoco opened #180 "Data source to retrieve fortigate model"
Hi,
I have searched through the documentation here but cannot find a datasource or resource that can give me the model of fortigate (essentially a data source for `get system status`)

Does such a data source exist? If so what is it? If it doesn't is there any way of getting the model of the fortigate via terraform?

Thanks,
Gus

[2021-09-21 00:48] lix-fortinet commented on #180
Hi @gmintoco ，

Thank you for raising this issue. `/api/v2/monitor/system/status` is a monitor API. Monitor APIs are stateless, and we do not provide resources for stateless APIs.

You could get the system status using generic resource:
`https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_json_generic_api`
Like this:
[code]

Please let me know if you have any

[2021-09-21 04:44] lix-fortinet commented on #178
Hi @fariborzsaffari ,

Thank you for your information. Parameter `server_type` is required when `type` is set to `server-load-balance`. Could you add parameter `server_type` and try it again, like this:
[code]

Please let me know if it still not work.

Thanks,
Xing

[2021-09-22 18:01] MrMinos opened #181 "Policy Drift Detection"
Hello,

I could not confirm details on policy drift detections, and would appreciate your help.

I've confirmed the drift detection in Firewall policies, if the rules created with `terraform` has been changed using Web GUI. However, if I create a new rule using the web GUI in between `terraform apply`, and `terraform plan`, I did not see the changes made. Is this an expected outcome? Thanks!

[2021-09-22 21:11] lix-fortinet commented on #181
Hi @MrMinos ,

Thank you for raising this issue. I am not quite sure about your question. Do you mean `create by GUI` --> `make some changes by Terraform` --> `don't see the changes made`? I would appreciate it if you could provide some details of the issue, like the reproduce process and the .tf file.

Thanks,
Xing

[2021-09-22 21:25] lix-fortinet commented on #179
Hi @bridgepate ,

Thank you for raising this issue. Could I know which version of FOS do you use?

Thanks,
Xing

[2021-09-22 22:12] bridgepate commented on #179
Thanks Xing for the reply. Following is the details. Its running version **6.4.2**.
[code]

[2021-09-23 15:10] MrMinos commented on #181
Xing,

I meant `create a policy with terraform` --> `make some changes by GUI` --> `terraform doesn't see the changes made`. This now makes sense to me, and seems like an expected behavior. Thanks!

[2021-09-23 15:10] #181 closed

[2021-09-23 22:18] MrMinos commented on #179
For me, this happens with `fortios_router_static` resource. The first time applied, I get
[code]
Then, without any action, running `apply` again produces
[code]

This is the example resource ran.
[code]

[2021-09-24 19:35] pacrutchet opened #182 "Can't upload the PAC file via fortios_webproxy_explicit pac_file_data"
Hello,

In order to upload the javascript body for the PAC file I have to comment the " with \ :
[code]
and it appear on the fortigate as follow:
[code]

If I don't put the \ then I get:
[code]

How can I send a clean pac file without \ ?
(I tested via the CLI and it works fine, you have to put \" but the fortigate remove the \ )

Regards,
Pierre

[2021-09-26 19:37] bridgepate commented on #179
In this case, even running again do not work

[2021-09-27 00:00] lix-fortinet commented on #179
Hi @bridgepate ,

Thank you for your detailed information. Team is working on this issue.

Thanks,
Xing

[2021-09-27 18:25] lix-fortinet commented on #182
Hi @pacrutchet ,

Thank you for raising this issue. Team is working on it. We will reply you ASAP.

Thanks,
Xing

[2021-09-28 14:49] martinimartinimartini opened #183 "Sample List of Virtual IPs and Virtual Servers"
Hi guys!

I recent changed jobs and on the new organization people created vips and vservers for the wan income connections reach the DMZ.
The point is: I'm trying to use terraform to list all this public address used but I cant find a data fortios_firewall_vip|vserver(list)
like i have with address: data "fortios_firewall_addresslist".

Am I missing something or it's still not develop yet ?

[2021-09-29 23:45] lix-fortinet commented on #177
Hi @shanecottey ,

This issue has been fixed in the latest release of v1.13.2.

Please let me know if you have any questions.

Thanks,
Xing

[2021-09-30 09:45] MilesTails opened #184 "fortios_ips_sensor entries severity trailing space"
Hi,

Looks like FortiGate's returns a trailing space at the end of a severity statement so you end up with constant change in place:

Resource:
[code]

Snippet from plan post creation:
[code]

Is this something that can be resolved in the module or do we need to always leave a trailing space in our severity variable.

[2021-09-30 11:47] MilesTails opened #185 "fortios_webfilter_profile ftgd_wf not enabled unless an option is set"
I am unable to create a fortios_webfilter_profile that leverages the categories unless an option parameter is passed within ftgd_wf. In the GUI this is the FortiGuard category based filter toggle.

[code]

results in:
[code]
the above applies but results in the web filter being created but FortiGuard category based filter toggle is off.

The reason appears to be because the ftgd_wf options variabl

[2021-09-30 17:17] shanecottey commented on #177
Xing,

Thanks for the feedback, however, this is still not suitable for our needs.
We are trying to create a VIP group that has 12 different VIPs in it, and each VIP name is ~20 characters long.
Even trying to do this with the generic JSON API wrapper, we run into issues.  Why is the character limitation so small for the **member{}** block?

In the CLI this does not seem to be an issue--
`
conf fi

[2021-09-30 17:43] lix-fortinet commented on #177
Hi @shanecottey ,

I got what you mean. The way to add multiple block items is to add blocks with different content. Like this:
[code]

Please let me know if this could solve your problem.

Thanks,
Xing

[2021-09-30 18:55] shanecottey commented on #177
Xing,

This is exactly what I was looking for!  Thanks for the clarification!

-Shane

[2021-09-30 21:09] lix-fortinet commented on #177
Hi @shanecottey ,

You are very welcome! If you do not have further questions, I will close this issue.

Feel free to open issues if you have any questions.

Thanks,
Xing

[2021-09-30 21:10] #177 closed

[2021-09-30 21:50] lix-fortinet commented on #183
Hi @martinimartinimartini ,

Thank you for raising this issue.

I would appreciate it if you could specify which resource or API do you mean for vservers.

As for firewall vip, we do not have a data source to list all firewall vip yet. We will plan to add it in the future release.

You could get the firewall vip using generic resource:
https://registry.terraform.io/providers/fortinetdev/fortios/la

[2021-09-30 21:55] lix-fortinet commented on #184
Hi @MilesTails ,

Thank you for raising this issue. Team is working on this issue. We will reply to you ASAP.

Thanks,
Xing

[2021-09-30 22:27] lix-fortinet commented on #185
Hi @MilesTails ,

Thank you for raising this issue. Team is working on this issue. We will reply to you ASAP.

Thanks,
Xing

[2021-10-05 01:09] zephyia opened #186 "Managing address and address group resources - order of operations"
I am attempting to use this module to manage address and addres group objects and am running into an issue with the order of operations.

I have reproduced a simple test case illustrating the issue below:

[code]

Applying this terraform will work without issue as terraform will create the address objects and then the address group object. However the issue comes when one of the addresses needs to

[2021-10-05 13:09] nose1980 opened #187 "Fortios_system_sdwan. An argument named "members" is not expected here, while should"
Good day, gents!
Trying to deploy Health_check probe using fortios_system_sdwan and run into an issue, followed by An argument named "members" is not expected here. Did you mean to define a block of type "members"? error message. I am trying to add:

resource "fortios_system_sdwan" "spoke1-sdwan" {
  provider = fortios.spoke1
  status = "enable"
  members {
    seq_num = 1
    interface = fortios_

[2021-10-05 14:41] nose1980 commented on #187
Solved. Should be

...
health_check {
name = "VPN1_Hub1"
server = "10.100.11.1"
interval = 1000
failtime = 2
recoverytime = 10
members {
  seq_num = 1
}
...

mates, I wish you had published examples, as you did in an other modules. The structure isnot always evident.

[2021-10-05 15:02] martinimartinimartini commented on #183
Thanks for the advice!
I didn't know about the generic data, it will help a lot.
You can close now!! Really appreciated

[2021-10-05 16:13] lix-fortinet commented on #183
Hi @martinimartinimartini ,

You are very welcome. Thank you for your issue, which makes our product and service better!

Thanks,
Xing

[2021-10-05 16:13] #183 closed

[2021-10-06 03:28] maxabaumgarten opened #188 "Multiple DHCP servers for multiple Interfaces does not work."
**Problem:**  The **_fortios_systemdhcp_server_** resource does not allow one to call the resource multiple times.  This prevents one from setting up DHCP servers on separate interfaces.  You are currently limited to only assigning one DHCP server to only one interface.

**Code:**

[code]

**Error:**
[code]
Perhaps I'm just misunderstanding how this works.  If so, please let me know!

[2021-10-06 18:42] bridgepate commented on #179
Hi,

I know you are working on this issue, but is there any update on this?

Regards

Brijesh

[2021-10-07 19:08] xabinapal opened #189 "Enable STP on hardware-switches"
Maybe I'm missing something, but it seems this provider does not support enabling STP on a hardware switch. Typically, I would execute the following on the console to create a new HW switch:

[code]

I'm currently working on migrating our provisioning scripts to Terraform, and the previous snippet translates (roughly) to:

[code]

As per the docs, there is no `stp` parameter in `fortios_system_int

[2021-10-11 17:44] lix-fortinet commented on #179
Hi @bridgepate ,

You are very welcome!

Best regards,
Xing

[2021-10-11 23:34] lix-fortinet commented on #184
Hi @MilesTails ,

We will fix this issue in the next release.

Thanks,
Xing

[2021-10-12 00:35] lix-fortinet commented on #185
Hi @MilesTails ,

We are cooperating with API team to fix this issue. Before this issue been fixed, you could use resource `fortios_system_autoscript` as alternatives:
`https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_system_autoscript`
For example:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2021-10-12 22:53] MrMinos opened #191 "Length limit on syslog server url"
[code]

Hello Fortinet team, I've come across an interesting error and wondering your input on this. Is the server address length capped at 64 characters?

When I run `terraform plan` I get,
[code]

Thanks!

[2021-10-13 00:01] lix-fortinet commented on #191
Hi @MrMinos ,

The latest version of FortiOS Terraform provider has fixed this issue. Please upgrade to v1.13.2 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2021-10-13 22:46] lix-fortinet commented on #186
Hi @zephyia ,

Thank you for raising this issue, and sorry for the late response. This issue is a little complicated. Team is working on this issue. We will reply to you ASAP.

Thanks,
Xing

[2021-10-13 23:35] maxabaumgarten commented on #188
Welp.  It seems like I should have paid attention to your first question @lix-fortinet.  It seems that if the DHCP server already exist on that interface, Terraform won't overwrite the existing configuration.  This is in contrast to the Interfaces provider, which overwrites existing interfaces with the Terraform configuration.

I deleted the existing DHCP interface and now it runs correctly and cr

[2021-10-13 23:35] #188 closed

[2021-10-14 23:08] bridgepate opened #192 "FW Policy fails to use WebFilter Profile"
Hi,

We are trying to use a webfilter_profile with one of our firewall policy. The webfilter profile already exist so, we are simply referencing that in our policy. The Terraform code shows that it is going to attach the webprofile to the policy, but when we look at the policy after the run, the profile is not attached to the policy. In order to get it working, we have to manually assign the profi

[2021-10-15 03:02] #192 closed

[2021-11-05 15:05] kev-in-shu opened #193 "No helpful error output"
When we try and apply an invalid configuration, terraform does not give any helpful message as to what the error is.

For example when creating a firewall policy with an incorrect source interface, this is all we get

`Error: Error creating FirewallPolicy resource: Internal Server Error - Internal error when processing the request (500)`

I tried to target the API directly, and it seems it gives s

[2021-11-12 11:07] movd opened #194 "Provide darwin/arm64 binaries for Apple M1"
Enhancement: Add release binaries for Apple Silicon

[2021-11-15 14:51] xabinapal opened #195 "Link monitor should support millisecond intervals"
Currently, resource `fortios_system_linkmonitor` expects the `interval` parameter to be specified in seconds, with a range between `1` and `3600`:

https://github.com/fortinetdev/terraform-provider-fortios/blob/master/fortios/resource_system_linkmonitor.go#L121

This fails with newer firmware versions. Starting on FortiOS 6.2.1, this parameter should be specified in milliseconds, with a range betw

[2021-11-15 19:24] lix-fortinet commented on #193
Hi @kev-in-shu,

Thank you for raising this issue. Team are working on this issue. We will improve this by identifying useful info from API response and output it to users. And we will let you know when we released the new version of Terraform FortiOS provider.

Please let me know if you have any questions.

Thanks,
Xing

[2021-11-15 21:49] lix-fortinet commented on #194
Hi @movd,

Thank you for raising this issue. Team are working on it.

Please let me know if you have any questions.

Thanks,
Xing

[2021-11-15 22:14] lix-fortinet commented on #195
Hi @xabinapal,

Thank you for raising this issue. Team are working on it. We will fix it in the next release.

Please let me know if you have any questions.

Thanks,
Xing

[2021-11-25 17:24] doumhfr commented on #186
Hi,

we have the same problem

You create x addresses, member of a group.
when you want to destroy them (group and addresses), it doesn't work, because the provider try to delete first the addresses, and then the group.

I'm not sure the workaround will work.

_By default, when Terraform must change a resource argument that cannot be updated in-place due to remote API limitations, Terraform will i

[2021-11-26 15:59] doumhfr commented on #186
Ok it's working :D

[2021-11-26 22:59] afmoreno1982 opened #196 "`fortios_router_ospf` router id and redistribution route map not removed"
Resource `fortios_router_routemap.fgt01conf_rmap_01` can't be destroy, because `fortios_router_ospf.fgt01conf_rtospf` doesn't destroy `router-id` nor `routemap` inside `redistribute` block.

Using `fortinetdev/fortios/1.13.2`

Resourse applied:
[code]

Error during `terraform destroy`:
![image](https://user-images.githubusercontent.com/44612768/143659844-9368c595-e8c3-44d2-b41f-16deaf6197a0.png)

[2021-11-30 00:15] lix-fortinet commented on #196
Hi @afmoreno1982,

Thank you for raising this issue. Team are working on it. We will get back to you once it's resolved.

Please let me know if you have any questions.

Thanks,
Xing

[2021-11-30 08:54] ichasco-heytrade opened #197 "Cant create admin user with `fortios_system_admin`"
Hi,

I am trying to create an admin user in fortigate but always get the same error:

[code]

Terraform code:
[code]

I have also tried to create manually and then import and also got an error:

[code]

Fortigate version: `7.0.2`
Terraform provider version: `v1.13.2`

Thanks!

[2021-11-30 11:26] alagoutte commented on #197
Do you have check the complexity of the password ?

do you have look on httpd debug log ?

[2021-11-30 12:50] ichasco-heytrade opened #198 "Create Let's encrypt certificates"
Hi, Is there any way to create Let's encrypt certificates?

I didn't see it in the documentation.

Thanks!

[2021-11-30 13:05] ichasco-heytrade commented on #197
I have tried the same password as the user I created.

I didn't see nothing in the logs :(

If you try, you can create an admin user? Can you pass me the code to see if there is something different?

Thanks

[2021-11-30 14:31] alagoutte commented on #197
i don't yet try...

can you try
[code]

on FortiGate CLI ?

[2021-11-30 19:43] ichasco-heytrade commented on #197
Here you have the errors in the log:
[code]

[2021-11-30 23:11] lix-fortinet commented on #197
Hi @ichasco-heytrade,

Thank you for raising this issue. Could you check whether the token that you used in the provider is using admin profile `super_admin`? It is required if you want to configure VDOM or resources related to administrator user permissions. Please check step3 of this guide of [Generate an API token for FortiOS](https://registry.terraform.io/providers/fortinetdev/fortios/latest/d

[2021-12-01 08:10] ichasco-heytrade commented on #197
Hi!
These are the permissions of the admin profile:
[code]

Terraform version:

[code]

I am not using multi-vdom

Thanks!

[2021-12-01 18:50] lix-fortinet commented on #197
Hi @ichasco-heytrade,

Customized profile has lower permission then `super_admin`. You could not create an admin user with `super_admin` profile using a lower permission admin user. You could create an admin user with the same profile:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2021-12-01 20:15] afmoreno1982 opened #199 "`fortios_router_bgp` enable redistribute, and each time a terraform apply is executed it detects a change"
my Terraform configuration
Using `fortinetdev/fortios/1.13.2`
[code]

each `terraform apply` is detected as a change, and even mismatch redistribute ***static*** and change to ***connected***, even thou there is already a redistribute connected enable

![image](https://user-images.githubusercontent.com/32460163/144306638-70681275-53eb-45b6-9763-d7b54c1f1475.png)

[2021-12-02 08:55] ichasco-heytrade commented on #197
And how can I create admin profile with super_admin permissions? In the REST api admin I can't associate with super_admin profile, only with I have created before.

Thanks!

[2021-12-03 08:43] Theoooooo opened #200 "Getting some troubles to create policy rule with "fortios_firewall_policy""
Hello there,

i'm creating this issue because i'm really struggling with creating policy rule inside a fortigate from a labo environment.

Because i don't really understand how you can create a rule with multiples services, source host and destination host (and since there is no exemple inside the documentation), i'm trying different .tf configuration without success so far.

Here is where i am (i

[2021-12-03 10:07] alagoutte commented on #200
Hi Theooo,
for log, you need to enable debug log on FortiOS

[code]

the issue i don't coming from :
[code]
need to be on the same srcaddr array ?

[2021-12-07 21:56] poroping commented on #197
You need to do it in the CLI

[2021-12-07 22:32] poroping commented on #200
@Theoooooo the plan you provided is missing the service block, this is a required attribute.

[2021-12-07 22:36] poroping commented on #199
So this is a quirk with the provider, either uncomment the other redist blocks (order matters) or try setting dynamic_sort_subtable to true

[2021-12-14 23:37] lix-fortinet commented on #200
Hi @Theoooooo,

Thank you for raising this issue. It seems like there are some issue of loading .csv file. Since your terraform plan output do not have info of `services`. I would appreciate it if you could let me know your testing environment, like Terraform version, FortiOS version, FortiOS Terraform provider version. So that I could reproduce in my end and debug it. And also, could you output t

[2021-12-15 01:01] lix-fortinet commented on #199
Hi @afmoreno1982,

Thank you for raising this issue. Argument `redistribute` is type of list of block, and current logic is comparing them by the sequence. Team is working on this issue. We will fix it in the future release.

Thanks,
Xing

[2021-12-15 01:20] rpuserh opened #201 "Disable SSLVPN in terraform"
Hi,

Im trying to disable SSLVPN with terraform

In cli i will do
[code]

but terraform dosent have status propertu for VPNSSL option

[code]

Please advise what will be best way to disable SSLVPN

[2021-12-15 18:40] lix-fortinet commented on #201
Hi @rpuserh,

Thank you for raising this issue. Team are working on this issue. We will fix it in the next release. Before that, you could use resource `fortios_system_autoscript` as alternatives:
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_system_autoscript
For example:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2021-12-16 00:20] lix-fortinet commented on #198
Hi @ichasco-heytrade,

Thank you for raising this issue. Here are documentation links that related to Let's encrypt:
https://docs.fortinet.com/document/fortigate/7.0.2/administration-guide/822087/acme-certificate-support
https://docs.fortinet.com/document/fortigate/7.0.2/administration-guide/825073/procuring-and-importing-a-signed-ssl-certificate

Please let me know if you have any questions.

Tha

[2021-12-16 00:31] lix-fortinet commented on #197
Hi @ichasco-heytrade,

You could set profile to `super_admin` by CLI or API using an account with `super_admin` permission. But you could not set it by GUI.

Thanks,
Xing

[2021-12-16 09:34] ichasco-heytrade commented on #197
Perfect thanks!

This is the code that has to be executed in forti CLI
[code]

[2021-12-16 09:34] #197 closed

[2021-12-16 19:31] mobilesuitzero opened #202 "fortios routerbgp neighbor destroy will remove other existing ones"
my Terraform configuration
Using fortinetdev/fortios/1.13.2

resource "fortios_router_bgp" "bgp" {
  depends_on           = [fortios_vpnipsec_phase2interface.vwan2phase2]
  as                   = "7224"
  cluster_id           = "169.254.24.24"
  ibgp_multipath       = "enable"
  network_import_check = "disable"

}

resource "fortios_routerbgp_neighbor" "neighbor1" {
  depends_on           = [forti

[2021-12-16 20:03] alagoutte commented on #198
i think, it is how to create with terraform ?!

[2021-12-17 08:44] ichasco-heytrade commented on #198
Yes, my question is related with terraform :)

[2021-12-17 15:12] crougher commented on #171
Sorry for late reply.
Basicaly Im trying to run in one terraform flow the following:
1. Build FGT
2. Apply FGT configuration

I think i have to use DNS, not public IP - as public IP is not known when i run terraform.
DNS is known so it should work.

Pleasee my config below:

`04_fortigate.tf
resource "azurerm_public_ip" "fgtbmgmtpip" {
  name                = "b-vm-fgt-mgmt-pip"
  location

[2021-12-18 21:28] Jamessband commented on #199
@afmoreno1982  You should consider adding `dynamic_sort_subtable = true`
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_router_bgp#dynamic_sort_subtable

[2021-12-20 22:57] lix-fortinet commented on #202
Hi @mobilesuitzero,

Thank you for raising this issue. This issue is because you also destroyed resource `fortios_router_bgp`. Resource `fortios_router_bgp` is pre-existed in FortiOS, there is no `DELETE` operation for REST API `/api/v2/cmdb/router/bgp`. Our current logic for `destroy` or `delete` operation for resource `fortios_router_bgp` is to set all block arguments to empty.

Here are two sol

[2021-12-22 23:04] lix-fortinet commented on #171
Hi @crougher,

The error you got is because of you are reference an output value in provider. You could reference a resource value in provider block, like `azurerm_public_ip.fgtamgmtpip.fqdn`. But this seems to be only available for arguments that configured by users. Terraform using key word `depends_on` to define processing sequence. But `depends_on` not applicable for provider block for now. He

[2021-12-28 19:06] levente-simon opened #203 "Virtual Server config"
Hey there,

I see correctly that the Virtual Server (aka Load Balancer) resource is not yet implemented, right?

Thx, L

[2021-12-28 19:18] levente-simon commented on #203
yep, I found the answer in a closed issue

[2021-12-28 19:18] #203 closed

[2022-01-03 08:04] crougher commented on #171
Hi @lix-fortinet,

Thank You for your feedback, i would have to go with two seperate terraform deployments.

Thx!

[2022-01-03 10:01] Theoooooo commented on #200
Hello,
Pardon me for the inactivity, i totally forgot to update this issue.
I manage to found the different problems after some testing on my side.

Here is the final form of my working file
[code]

Sorry for the inconveniance for not updating my issue, as i found out why it wasn't working.
I hope my final file will help other people working with fortigate along with terraform.
On my side, i'm spl

[2022-01-03 10:01] #200 closed

[2022-01-09 19:43] 5030200 opened #204 "Wrong order of actions when removing user from group and deleting it in one go"
I have successfully created the following resources.

[code]

Now I remove user b:

[code]

Running `terraform apply` fails because it tries to destroy the user before removing it from the group:

[code]

I am using fortinetdev/fortios v1.13.2. To work around the issue, I run `terraform apply -target=fortios_user_group.test && terraform apply` but it would be nice if the provider could handle the

[2022-01-10 13:03] infradmin commented on #186
I have the same issue: if one of address objects is going to be deleted and corresponding address groups object should be updated, it tries to destroy address first (obviously unsuccessful). BTW, interesting that if I destroy all address objects together with related address group, then the deletion order is correct — first a group and then addresses.
Proposed work-around did not help.

[2022-01-10 19:58] poroping commented on #204
Try the lifecycle argument.

[code]

[2022-01-10 22:14] lix-fortinet commented on #204
Hi @poroping,

Thank you for your response.

Hi @5030200,

Thank you for raising this issue. We could not handle the process sequence in the provider side. It is controlled by Terraform. The way we solve this issue is using lifecycle with argument create_before_destroy set to true, like @poroping suggested. However, based on our test, it only works on dynamic resources using meta-argument `count`

[2022-01-10 22:35] lix-fortinet commented on #186
Hi @infradmin,

Thank you for your comment. We could not handle the process sequence on the provider side. It is controlled by Terraform. The way we solve this issue is using lifecycle with argument `create_before_destroy` set to true. However, based on our test, it only works on dynamic resources using meta-argument `count` or `for_each`. If you are not using `locals` block and `for_each`, please

[2022-01-10 23:10] 5030200 commented on #204
Many thanks for the suggestions. I am afraid I still have some trouble here.

When changing from

[code]

to

[code]

I get:

[code]

When changing from

[code]

to

[code]

I get:

[code]

I actually already use a list together with for_each but I tried to present the issue as simple as possible.

[2022-01-10 23:39] lix-fortinet commented on #204
Hi @5030200,

As for your first scenario, please try to use meta-argument  `count`. Remember the index `[0]` in the member block and block `depends_on` is also required.

As for your second scenario, it works in my end:
[code]

Could I know your Terraform version? `lifecycle` block requires Terraform v1.14 or later.

Thanks,
Xing

[2022-01-11 01:29] lix-fortinet commented on #198
Hi @ichasco-heytrade,

Sorry for the late response, and Happy New Year! The corresponded API is api/v2/monitor/vpn-certificate/local/import. This API is a monitor API, and we do not have resources for monitor APIs. We usually recommend user using generic resource for monitor APIs. But there are some issues to create Let's encrypt certificate using this API. We have created an internal ticket for t

[2022-01-11 06:28] infradmin commented on #186
Thank you, @lix-fortinet for the fast reply, but actually I am using `for_each`... Here is my example:
[code]
As you proposed I added lifecycle meta-argument but it did not help. If I remove "test2" subnet from local and apply again I get:
[code]
Using Terraform v1.1.3 and provider registry.terraform.io/fortinetdev/fortios v1.13.2.

[2022-01-11 09:08] zephyia commented on #186
Hey all,

I have been mostly successful in getting this to work – here is what I am currently using:

terraform {

  required_providers {

    fortios = {

      source = "fortinetdev/fortios"

      #    version = "1.13.2"

    }

  }

}

provider "fortios" {

  hostname = "10.80.16.253"

  token    = "xxxxx"

  insecure = "true"

  vdom     = "root"

}

locals {

  clients = {

    client1 = {

[2022-01-11 11:14] ichasco-heytrade commented on #198
Hi, thanks. I could do it with:

[code]

The problem I get now, is that the certificate, is not valid. (Forti has validated it, but the browser tells me that is an insecure certificate)

[2022-01-11 22:57] lix-fortinet commented on #186
Hi @zephyia,

Interesting, it works well in my end using exactly the same environment and configuration as yours.
[code]

Could you add argument `depends_on` in resource `fortios_firewall_addrgrp.addgrp` and have a try? Like this:
[code]

If it still not work, please let me know the following info to help me reproduce in my end:
1. Your OS, (Linux, Windows, MacOS, docker container, Linux APP under

[2022-01-12 00:56] zephyia commented on #186
I think you have responded to the wrong person – if you look at the terraform I posted it already has the depends on you are suggesting to add.

Also, my issue is not with create / destroy order – my email clarified that is indeed working in the way my terraform is setup.

My issue is the comparison of members between what the terraform state thinks it should be and what is returned from the forit

[2022-01-12 06:19] infradmin commented on #186
Hi @lix-fortinet
I have realized that after adding `create_before_destroy` to resource block I need to run `terraform apply` first to add this to the state, and only then try to delete this resource.
Thank you.

[2022-01-18 11:01] antonvdl opened #205 "Fortios_firewall_address in FortiOS 6.4 - Visibility removed"
Hi all,

After upgrading to FortiOS 6.4 all our fortios_firewall_address objects see the visibility options as changed.
Starting with FortiOS 6.4 the visibility option has been removed (undocumented change).

With every "plan" action all our addresses show up as changed.
[code]

Any idea how we can fix this?

Kind regards,

Anton

[2022-01-19 11:09] antonvdl commented on #205
Never mind, visibility was configured in our configuration and not added by default.

[2022-01-19 11:09] #205 closed

[2022-01-26 12:32] tomelfring opened #206 "Firewall-vip import not importing all properties"
We're currently running into issues when importing some Virtual Servers. The resulting terraform state doens't contain all values, resulting in updates when first applying the terrafom files.

In the [gist ](https://gist.github.com/tomelfring/2108f6afddc49f98c58a6b07736be942) can be found:
- fortigate.conf -> The commands to create the Virtual Server (VIP) through the CLI
- main.tf -> The terrafor

[2022-01-26 13:11] tomelfring opened #207 "Firewall-vip change in realserver triggers ldb-method change"
We're currently running into issues when changing some Virtual Servers. When changing a setting of a `realserver`, the `ldb-method` changes.

In the [gist ](https://gist.github.com/tomelfring/0c7f9722760aefc333b1a0a3938af2ca) can be found:
- fortigate.conf -> The commands to create the Virtual Server (VIP) through the CLI
- initial_main.tf -> The initial terraform file
- initial_terraform.tfstate

[2022-01-28 06:13] MrMinos opened #208 "Changing existing reserved_address on fortios_systemdhcp_server"
I've ran into a problem where I cannot delete a reserved_address element and shift the `id` over by one. `terraform apply` fails with a 500 error.

Say I'm deleting "Some B", and all the `reserved_address` shifts over by one as below example plan output, the provider fails with status code 500. I believe this happens because when you are modifying the `reserved_address` of "Some B" to "Some C", at

[2022-01-31 08:41] gmintoco commented on #180
Thanks that worked for me :)

[2022-01-31 08:41] #180 closed

[2022-01-31 08:41] gmintoco commented on #176
That was all thanks for considering :)

[2022-02-01 00:59] mabnz opened #209 "Error creating new custom ISDB entry"
Hi,

Using the Terraform configuration below, a HTTP 500 is returned from FortiOS (7.0.4).

[code]

Error below.

│ Error: Error creating FirewallInternetServiceCustom resource: Internal Server Error - Internal error when processing the request (500)
│
│   with fortios_firewall_internetservicecustom.unified-isc,
│   on fortigate2.tf line 1, in resource "fortios_firewall_internetservicecustom" "uni

[2022-02-02 01:35] lix-fortinet commented on #184
Hi @MilesTails,

FortiOS Terraform provider v1.14.0 fixed this issue and has been released. Please upgrade to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-02-02 01:56] lix-fortinet commented on #193
Hi @kev-in-shu,

The latest version of FortiOS Terraform provider(v1.14.0) added the 'cli_error' from HTTP response to Terraform output. Hope this will give you some useful details. We will work with API team and continually improve our provider to satisfy users as much as we can. Thank you for raising this issue!

Thanks,
Xing

[2022-02-02 01:59] lix-fortinet commented on #194
Hi @movd,

The latest version of FortiOS Terraform provider(v1.14.0) added binary file of darwin/arm64.

Please let me know if you have any questions.

Thanks,
Xing

[2022-02-02 02:01] lix-fortinet commented on #195
Hi @xabinapal,

FortiOS Terraform provider v1.14.0 fixed this issue and has been released. Please upgrade to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-02-02 02:03] lix-fortinet commented on #201
Hi @rpuserh,

FortiOS Terraform provider v1.14.0 fixed this issue and has been released. Please upgrade to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-02-02 02:08] lix-fortinet commented on #189
Hi @xabinapal,

FortiOS Terraform provider v1.14.0 fixed this issue and has been released. Please upgrade to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-02-03 21:41] lix-fortinet commented on #209
Hi @mabnz,

Thank you for raising this issue. We are in contact with the related team to find a solution, a bug ticket has been created internally to track this issue, will get back to you once it's resolved. By the way, you could use resource `fortios_system_autoscript` as alternatives:
https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_system_autoscript

Fo

[2022-02-04 03:12] zephyia commented on #186
Hi all,

Just following up on this issue:

With this terraform:

`terraform {
  required_providers {
    fortios = {
      source = "fortinetdev/fortios"
      #    version = "1.13.2"
    }
  }
}

provider "fortios" {
  hostname = "10.80.16.253"
  token    = "xxxxx"
  insecure = "true"
  vdom     = "root"
}

locals {
  clients = {
    client1 = {
      prod =  "10.1.1.1/32"
      office =  "10.1.1

[2022-02-07 21:52] lix-fortinet commented on #206
Hi @tomelfring,

Thank you for raising this issue. Team are working on it. We will get back to you once it's resolved.

Thanks,
Xing

[2022-02-09 09:26] guidodl opened #210 "Error creating FirewallVip resource: Internal Server Error - Internal error when processing the request (500)"
Hi everybody,
using the configuration below an http error 500 is returned from Fortios provider (v. 1.6.6):

│ Error: Error creating FirewallVip resource: Internal Server Error - Internal error when processing the request (500)
│
│   with fortios_firewall_vip.VIP_BACKOFFICE-TOLLPASS-BG,
│   on common_addresses.tf line 1583, in resource "fortios_firewall_vip" "VIP_BACKOFFICE-TOLLPASS-BG":
│ 1583: r

[2022-02-09 18:56] lix-fortinet commented on #207
Hi @tomelfring,

Thank you for raising this issue. We are working with REST API team to find a solution. A bug ticket has been created internally to track this issue, and we will get back to you once it's resolved.

Thanks,
Xing

[2022-02-09 19:55] lix-fortinet commented on #208
Hi @MrMinos,

Thank you for raising this issue. This issue is caused by the Terraform comparison of list of block object. Team are working on this kind of issue. We will get back to you once it's resolved.

Thanks,
Xing

[2022-02-10 00:57] lix-fortinet commented on #210
Hi @guidodl,

Argument `mappedip` should be set. Please add argument `mappedip` and try it again.
For instance:
[code]

Thanks,
Xing

[2022-02-10 10:50] gabry510 commented on #210
Hi @lix-fortinet - Xing,
first of all many thanks for your answer, I'm working with Guido for this deployment.

I tried to apply your conf. but I want ask you why set the mapped_ip range to unknow address 172.17.53.226, anyway this state have deployed a vip whit only ip addr mapped in, as you can see in the image
![image](https://user-images.githubusercontent.com/99395993/153389800-48e7bb14-2b1a-4

[2022-02-10 11:28] poroping commented on #210
@gabry510 Set the type to fqdn

[code]

[2022-02-10 11:59] gabry510 commented on #210
Hi @poroping ,

I have tried also with that code and return error 500:

Terraform will perform the following actions:

  # fortios_firewall_vip.VIP_BACKOFFICE-TOLLPASS-BG will be created
  + resource "fortios_firewall_vip" "VIP_BACKOFFICE-TOLLPASS-BG" {
      + arp_reply                        = (known after apply)
      + color                            = (known after apply)
      + dns_mapping_

[2022-02-11 00:49] lix-fortinet commented on #210
Hi @guidodl,

The type will set to static-nat by default if you do not config it. That's why the `mappedip` is required. You need set `type` to `fqdn` for your case. Could you check whether the mapped_addr(telepass.backoffice.tollpass.bg in your case) is existed in the firewall address, and also the type of the address is `fqdn`?

Thanks,
Xing

[2022-02-11 09:01] guidodl commented on #210
Hi @lix-fortinet,

We created the fqdn resource with no error as below:
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABgMAAABgCAYAAAAw/QIIAAAgAElEQVR4Ae2d3ctl93XfJ05qGoKICUHgBgQhMJCr/gE12Hf5Ayzdh8EmlFworS50EYLiIsVEVsFoBon2osVxBtHWF26RPBTpwohKjFsXAmMXkjqM/ZgZEzkaNUM0fcHjXb77nO85a6/z22fv8/ac/fIZeGafvX+ve63Pb6291zp7nyuPHj2q9Hf79u3qzTff5A8ZwAAMwAAMwAAMwAAMwAAMwAAMwAAMwAAMwAAMwAAMwMDEGLgSkwH+

[2022-02-11 18:20] lix-fortinet commented on #210
Hi @guidodl,

Could you let me know your test environment? Like FortiOS version, Terraform FortiOS provider version, Terraform version.

Thanks,
Xing

[2022-02-12 05:33] acc4all opened #211 "fortios_firewall_policy can't detect profile changes"
I can create new firewall policy with default value of dnsfilter_profile, av_profile, webfilter_profile, ips_sensor, application_list. Firewall GUI show the created policy

[code]

Here is my code:

[code]

Then I try to rem or delete all profile codes but terraform can't detect the change => I must manually switch off the profiles of firewall policy on the GUI or cli, then terraform can detect th

[2022-02-14 06:01] zephyia commented on #186
Hi @lix-fortinet,

I have now tested with the property you suggested and can confirm that the issue is not present when this is set. I would suggest that it is probably worth explaining the non-standard use of a resource property like this somewhere prominent.

I think I can close out this issue now - do you agree?

Thanks

c.

[2022-02-14 08:10] gabry510 commented on #210
Hi Xing,
FortiOS 6.4.2
Terraform FortiOS provider version 16.6
Terraform version 1.0.9

[2022-02-14 17:56] lix-fortinet commented on #186
Hi @zephyia,

Thank you for your advice. We will consider it and make improvement in the future release. And of course, you could close this issue if you do not have any other questions.

Thanks,
Xing

[2022-02-14 22:22] pedrojgsbraga opened #212 "fortios_system_automationtrigger"
Hi,
We've an issue on this resource for version fortios 7.0.3, work fine for 6.4.
Can you please advise?

resource "fortios_system_automationtrigger" "Notify-Failed-VPN-Login" {
  name       = "Notify-Failed-VPN-Login"
  event_type = "event-log"
  logid      = "39426"
}

Thanks.

[2022-02-15 08:44] poroping commented on #211
There is a bug in the provider where if a block was referenced and then not it just ignores the block instead of clearing it (by sending an explicitly empty struct).

[2022-02-15 08:50] poroping commented on #210
@gabry510 @guidodl
The idiomatic way is:

[code]

This creates the proper dependencies and Terraform will know that the address object needs to exist before the VIP is created.

[2022-02-16 12:21] guidodl commented on #210
Hi @lix-fortinet and @poroping,

We created the resource fortios_firewall_address and fortios_firewall_vip successfully, but when we created the resource fortios_firewall_policy we noticed the same error 500.

What i did afer was to create the fw rule via GUI in Fortigate and then importing it in terraform.
The doc here [https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/guide

[2022-02-22 19:53] lix-fortinet commented on #212
Hi @pedrojgsbraga,

Thank you for raising this issue. Could you let me know your issue's detail, like the output of Terraform apply? I have no issue on my end under FortiOS v7.0.3, FortiOS Terraform provider v1.14.0.

Thanks,
Xing

[2022-02-23 02:41] gmintoco opened #213 "Internal Server Error using fortios_vpncertificate_local and fortios_vpncertificate_ca"
Hi,
I am trying to deploy 3 certificates to a Fortigate but am running into an error as seen below. Using v6.2.9 build1234 (GA). Let me know if you need more information or if these configurations need some changes.

[code]

[code]

[2022-02-23 10:47] pedrojgsbraga commented on #212
Hi Xing,
Thank you for you answer.

Error: Error creating SystemAutomationTrigger resource: Internal Server Error - Internal error when processing the request (500)
Cli response:
logid should be set for event-log trigger.
object set operator error, -651 discard the setting
Command fail. Return code -651

  on automations.tf line 17, in resource "fortios_system_automationtrigger" "Notify-Failed-VPN

[2022-02-24 00:55] lix-fortinet commented on #212
Hi @pedrojgsbraga,

Thank you for your response. Sorry, I did not switch to FortiOS v7.0.3 successfully last time. I can reproduce it now. And the issue is caused by the schema change for FortiOS API since v7.0.0. The type of argument `login` switched to list of block since v7.0.0. Team are working on this issue. And we will get back to you when it's been solved. Before that, you could use generic

[2022-02-24 08:57] pedrojgsbraga commented on #212
Thanks Xing.
We're using the resource "fortios_system_autoscript" to pass the issue. But that could be also an alternative.
Please let me know when you fix the issue.

[2022-02-24 12:41] acc4all opened #214 "The terraform-provider-fortios_v1.14.0 plugin crashed"
Information
[code]
Here is my code
[code]

plan
[code]

apply plan
[code]

[2022-03-01 06:07] lix-fortinet commented on #211
Hi @acc4all,

Thank you for raising this issue. Remove argument from .tf file will not cause delete operation for the argument. Set argument to empty string could unset the parameter using API. However, currently, Terraform will ignore the empty value arguments. Team are working on this issue. We will get back to you once it's solved. Before that, you could use generic resource as alternatives:
ht

[2022-03-02 16:50] rgruyters opened #215 "Issue importing certificate"
I'm trying to upload a certificate from a Vault cluster, but I get a status error message.

[code]

When uploading via GUI it shows me `Incorrect certificate file key size for CA/LOCAL/REMOTE cert.` message.

I have validated that both certificate and key are correct:
[code]

[code]

[2022-03-04 22:29] rpuserh opened #216 "fortios_certificate_remote is not working"
Hi,

This method is not working.

[code]
 After apply I cannot see it in fortigate.
When trying to apply multiple time it always has changes

Please advice.

[2022-03-06 10:38] MilesTails opened #217 "dynamic sort subtable issue for service groups"
Hi, I think this is the same problem as #164, dynamic sort subtable is still showing mis-matched information for my service objects as it's assuming, for example, tcp_10511 should be before tcp_2002.

TF Provider 1.14.0

Example var:
[code]
Example TF:

[code]
Example TF Plan output:

[code]

[2022-03-08 16:56] Bilalbc commented on #217
Hello, I am also experiencing a similar problem in which I use "dynamic_sort_subtable" to order the entries, but this seems to only work for the address groups, whereas the service groups show that there are changes to be made all the time.

[2022-03-10 00:10] lix-fortinet commented on #213
Hi @gmintoco,

Thank you for raising this issue. The reason may because the `password` is not set. Could you try to set the password and try it again? Also, you could upgrade the FortiOS Terraform provider to v1.14.0, then you could get some error info from CLI response.

By the way, please do not set `range` to `global` for resources `fortios_vpncertificate_<>`, otherwise, you could not delete it

[2022-03-10 00:26] lix-fortinet commented on #214
Hi @acc4all,

Thank you for raising this issue. Argument `name` is required. Could you add argument `name` and try it again? We will make argument `name` to required in the next release, so that you could get the reminder from FortiOS Terraform provider.

Please let me know if you have any questions.

Thanks,
Xing

[2022-03-10 01:08] lix-fortinet commented on #216
Hi @rpuserh,

Thank you for raising this issue. Some resource may not show on GUI. But you could find it by CLI.
For instance:
[code]

We asked GUI team about this issue, and we will get back to you once they replied.

Thanks,
Xing

[2022-03-12 21:38] MilesTails commented on #217
Had a poke around, raised #218 as a suggested fix for this problem. Tested locally, looks good to me.

[2022-03-13 20:55] MilesTails commented on #217
There are many objects it would seem that should be alpha numeric sorted rather than naturally sorted. I am not sure what the correct way to process and review all these objects would be. However I can see that source/destination subtables within the fortios_firewall_policy resource are also wrongly sorted. My merge has been updated to reflect this change.

[2022-03-14 23:45] tiagoasousa opened #219 "fortios_vpncertificate_local forces privatekey usage"
Any reason for the provider to enforce private key where the api does not ? this blocks creation of letsencrypt certs

via api it works well:
curl -X POST "https://fg-address/api/v2/monitor/vpn-certificate/local/import?access_token=TOKEN" -H  "accept: application/json" -H  "Content-Type: application/json" -d "{\"acme_ca_url\": \"https://acme-v02.api.letsencrypt.org/directory\",\"acme_domain\": \"u

[2022-03-15 20:45] MilesTails commented on #217
Yes and on the cloned dynamic_sort_subtable function it has the natural sort removed.

[2022-03-18 00:28] lix-fortinet commented on #215
Hi @rgruyters,

Thank you for raising this issue. This issue seems like the certificate content issue. Could you let me know some details to help me reproduce it on my side? Such as the steps you create the certificate, the certificate size etc.

Thanks,
Xing

[2022-03-18 00:56] lix-fortinet commented on #216
Hi @rpuserh,

GUI team said that the certificate will not be shown on GUI if the content of the argument `remote` is not valid, even you could find it in CLI. The issue is REST API should not return 200OK if the certificate content is invalid and has CLI error. An internal ticket has been created for this issue, and we will get back to you when API team has a solution for it. By the way, by the re

[2022-03-18 10:38] rgruyters commented on #215
Fixed the issue after we installed the license on the Fortigate.

[2022-03-18 10:38] #215 closed

[2022-03-19 10:44] zippanto opened #220 "escapeFilter incorrect escaping"
We have been experiencing this issue when trying to use the fortios_systemdhcp_serverlist data source, filtering on an interface name with a dot in the name. Please see below.

data "fortios_systemdhcp_serverlist" "dhcp_serverlist" {
  filter   = "interface==TEST.123"
}

It returns no results. However the below does work correctly and returns the results as expected.

resource "fortios_json_generi

[2022-03-19 12:05] zippanto opened #221 "fosid requirement on fortios_systemdhcp_server"
We are trying to understand why it is required to provide the fosid for fortios_systemdhcp_server.

We are creating interfaces and the associated dhcp servers using Terraform. Hence these objects are new we are setting fosid to 0 (similar how you would add a new entry on CLI using "edit 0"). However because of this the dhcp servers get destroyed and recreated every time we apply. Please see below

[2022-03-22 00:21] lix-fortinet commented on #217
Hi @MilesTails,

Thank you for raising this issue and contributing to Terraform FortiOS provider.  #164 was to request the natural sort for the resource, which is the opposite way to this issue. The reason of this issue is the mismatch of the sequence of list in .tf file and state file. `dynamic_sort_subtable` will sort the list returned from FortiOS, which means it sorted the list in Terraform st

[2022-03-22 00:42] lix-fortinet commented on #219
Hi @tiagoasousa,

Thank you for raising this issue. Team are working on this issue. We will let you know once it's resolved.

By the way, the REST API for resource `fortios_vpncertificate_local` is `/api/v2/cmdb/vpn.certificate/local`, not `/api/v2/monitor/vpn-certificate/local/import`.

Thanks,
Xing

[2022-03-22 00:52] lix-fortinet commented on #220
Hi @zippanto,

Thank you for raising this issue. Team are working on this issue, and we will fix it in the next release. We will get back to you once it's resolved.

Thanks,
Xing

[2022-03-22 22:45] lix-fortinet commented on #221
Hi @zippanto,

Thank you for raising this issue. `fosid` is the `id` of this resource. To separate it with Terraform internal `id`, we name it `fosid`. It is required because it is the primary key of the resource. But, yes, `0` is the default value for `id` in REST API, and it is not required. By setting it to `0`, FortiOS will auto-generate an ID for it based on your existing items, rather than c

[2022-03-25 19:22] leonardoauribe opened #222 "Receiving error reading FirewallProfileProtocolOptions"
After importing our existing protocol options resources receiving the following error when attempting to run a terraform apply;

"Error reading FirewallProfileProtocolOptions resource from API: Error reading http: http.0.ports: '' expected type 'int', got unconvertible type 'string'"

It appears that terraform doesn't like the fact that the "http" block doesn't have a port defined. We don't requir

[2022-03-25 19:37] leonardoauribe opened #223 "Error: Provider produced inconsistent final plan"
I tried to apply multiple resource name value updates for addresses, address groups, services, and service groups and began receiving these errors. I didn't expect this to happen on such a simple name change.

[code]

This is just a snippet. I received this error on 20+ different resources.

[2022-03-25 20:14] leonardoauribe opened #224 "Terraform & Fortigate Reordering Error"
Terraform and Fortigate are conflicting on the ordering of members in my service and address groups causing diffs and always appearing in my terraform plans.

TERRAFORM PLAN
[code]

[2022-03-29 07:28] trstn70 opened #225 "Failed to query available provider packages"
taken from
https://registry.terraform.io/providers/fortinetdev/fortios/latest

terraform {
  required_providers {
    fortios = {
      source = "fortinetdev/fortios"
      version = "1.14.0"
    }
  }
}

$ terraform init
Initializing modules...

Initializing the backend...

Initializing provider plugins...
- Finding fortinetdev/fortios versions matching "1.6.18, 1.14.0"...
╷
│ Error: Failed to qu

[2022-03-29 07:33] #225 closed

[2022-03-30 07:37] timwsuqld commented on #176
@lix-fortinet Given that we have `fortios_firewall_security_policyseq` it would be great to get this for more than just security policies. Shaper policies order matters as well. `fortios_json_generic_api` just isn't the right way to do this in terraform, it's hacky and doesn't have state, so will always try and make the change even when not needed.

Can we reopen this issue for future consideratio

[2022-03-30 17:19] lix-fortinet commented on #176
Hi @timwsuqld,

Thank you for raising this request. Sure, no problem. I have reopened this issue.

Thanks,
Xing

[2022-03-30 19:01] lix-fortinet commented on #222
Hi @leonardoauribe,

Thank you for raising this issue. This issue is caused by the inconsistency of the type of argument `ports` from HTTP response. It will be a list if have content, but a string if it is empty. Team is working on this issue to handle it on Terraform provider side, and we will get back to you once it's resolved.

Thanks,
Xing

[2022-03-30 19:06] lix-fortinet commented on #223
Hi @leonardoauribe,

Thank you for raising this issue. We will appreciate it if you could provide an example of your test case and the environment for your test case, like the FortiOS version, FortiOS Terraform provider version, Terraform version, etc. That would be very helpful for us to reproduce this issue.

Thanks,
Xing

[2022-03-30 19:07] lix-fortinet commented on #224
Hi @leonardoauribe,

Thank you for raising this issue. We will appreciate it if you could provide an example of your test case and the environment for your test case, like the FortiOS version, FortiOS Terraform provider version, Terraform version, etc. That would be very helpful for us to reproduce this issue.

Thanks,
Xing

[2022-04-04 17:00] 5030200 commented on #204
Thanks a lot for your help! I restructured things a bit and got it working. `lifecycle` block seems available since Terraform v0.12 or maybe even earlier.
[code]

[2022-04-04 17:00] #204 closed

[2022-04-06 23:46] leonardoauribe commented on #223
Version Details

[code]

Terraform Plan Output

[code]

[2022-04-06 23:48] leonardoauribe commented on #224
Version Details

[code]

[2022-04-12 21:33] lix-fortinet commented on #223
Hi @leonardoauribe,

Thank you for your info. Could you provide some examples of your test case to help us reproduce this issue? Please delete your sensitive information in the example.

Thanks,
Xing

[2022-04-13 18:07] leonardoauribe commented on #223
The examples are the changes of the names for the addresses and address groups associated to policies, etc. after importing them. I'll walk through the details below.

- Began project to Terraform existing production Fortigates
- These Fortigates had multiple resources (policies, addresses, address groups, etc.) already deployed
- Imported these existing resources into Terraform state file
- Once

[2022-04-15 17:14] bencodner commented on #213
putting this here to help others who are troubleshooting the same issue. I started out using the api endpoint (/api/v2/monitor/vpn-certificate/local/import) which was failing (don't remember the exact error). I tried the fortios_vpncertificate_local but couldn't get around the internal server error mentioned here. Re-tracing the configuration, I noticed the key needed to be encrypted "[private_key

[2022-04-19 01:05] rpuserh opened #226 "Terraform & Fortigate SSLVPN Group Reordering"
Hi,

I have variable where i list groups and add them to SSLVPN config
here is code
[code]
After Apply everything is good
I add group2 to var and apply.
After this step if i run plan/apply again it will try to reorder groups (will keep doing it as many time I run apply)

[code]

I tried to sort map didn't help.

Please advice

[2022-04-19 01:06] #201 closed

[2022-04-20 03:52] gmintoco commented on #213
@lix-fortinet

I tried with an empty password and it still did not work. This was using the terraform provider v1.14.0 I don't see any CLI responses though.

I also tried without setting the range to global and still had no luck.

Thanks for your response

[2022-04-25 21:11] rpuserh commented on #226
Any suggestions ?

[2022-04-26 21:36] lix-fortinet commented on #226
Hi @rpuserh,

Sorry for the late response. And thank you for raising this issue. This issue seems like the sequence of groups in your Terraform configure file is not match the order in state file. Could you let me know how you add group2 to variable `groups`? So that I can reproduce it in my end.

Thanks,
Xing

[2022-04-26 21:51] rpuserh commented on #226
Hi @lix-fortinet ,

First I execute code
[code]

then i add second group

[code]
and terraform apply
After this as many times i run terraform apply will have diff where its trying to reorder groups

[2022-04-26 22:08] lix-fortinet commented on #226
Hi @rpuserh,

Thank you for your quick response. Interesting, I am using the same process, but everything works good in my end. Could you let me know your working env, like Terraform version, FortiOS provider version?

Thanks,
Xing

[2022-04-27 13:51] pirum-isawan opened #227 "secondary_ip always updatable on fortios_system_interface resource"
Hi,

Trying to use the fortios terraform provider and its mostly working, but what I've found is that  the secondary_ip field always shows an update ready to happen when enabled even after doing terraform apply.
[code]

Using the block above and running `terraform apply`, multiple times I continue to see the following output.

[code]

Looking at the CLI, I see that the field is set

[code]

I stro

[2022-04-27 22:53] rpuserh commented on #226
@lix-fortinet here is complite code and how to reproduce

1) apply following code
[code]

2) update variable and terraform apply
[code]

3) now as many times you apply it will see drift (Will try to reorder) if you reorder map keys it will still detect drift

[2022-04-27 23:50] rpuserh opened #228 "Split_dns won't delete when modifying fortios_vpnsslweb_portal"
Hi,

When deleting split_dns block terraform apply tries to delete however it doesn't
As many time I run terraform apply it will try to delete

steps to reproduce:
1) apply following tf code (replace ip_pools with your ip pool )

[code]

2) delete split_dns block. Will look like this. and terraform apply
[code]

3) try to run terraform apply multiple time

[2022-04-27 23:51] lix-fortinet commented on #227
Hi @pirum-isawan,

Thank you for raising this issue. The latest version of FortiOS Terraform provider v1.14.1 should have solved this issue. Could you switch to the v1.14.1 and try it again? Also, we do not recommend to set `id` to `0` for block `secondaryip`. Since `0` means FortiOS will auto-generate an id for you. And it will cause inconsistency with your configuration.

Thanks,
Xing

[2022-04-28 01:18] lix-fortinet commented on #226
Hi @rpuserh,

Thank you for your update. I can reproduce it now. The process is add "group2" first --> add "group1" --> terraform plan get the following info:
[code]
The result is that the sequence in state file is [group2, group1], but the sequence in terraform configuration file(.tf file) is [group1, group2]. So, Terraform always shows that there is a change. I checked the source code. Currently

[2022-04-28 01:26] lix-fortinet commented on #228
Hi @rpuserh,

Thank you for raising this issue. Team is working on this issue. We will get back to you once it's resolved.

Thanks,
Xing

[2022-04-28 10:08] pirum-isawan commented on #227
Hi thanks, this issue has been resolved now.

[2022-04-28 10:09] #227 closed

[2022-04-28 12:56] stephaneclavel opened #229 "fortios provider does not use HTTP proxy"
Hi

fortios provider does not use proxy set under HTTP_PROXY and HTTPS_PROXY environment variables as azurerm provider does for example.

Below the connections going via cntlm when running terraform plan command.

$ journalctl -u cntlm.service -f
avril 27 15:12:56 yd-vm-vfpt7242-202110181414 cntlm[1255]: 172.31.0.2 CONNECT login.microsoftonline.com:443
avril 27 15:12:57 yd-vm-vfpt7242-202110181414

[2022-04-28 20:25] lix-fortinet commented on #196
Hi @afmoreno1982,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.14.1. Please switch to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-04-28 20:40] lix-fortinet commented on #206
Hi @tomelfring,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.14.1. Please switch to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-04-28 20:42] lix-fortinet commented on #211
Hi @acc4all,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.14.1. Please switch to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-04-28 20:50] lix-fortinet commented on #212
Hi @pedrojgsbraga,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.14.1. We created a new argument named `logid_block` which is used for FortiOS v7.0.0+. For your case, it will be like this:
[code]

Please let me know if you have any questions.

Thanks,
Xing

Thanks,
Xing

[2022-04-28 21:08] lix-fortinet commented on #214
Hi @acc4all,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.14.1. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-04-28 22:26] lix-fortinet commented on #216
Hi @rpuserh,

The latest release of FortiOS Terraform provider v1.14.1 handled the format issue of certificate content. You do not need to add additional `\"` for the certificate content. For your case, it will be:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2022-04-28 22:29] lix-fortinet commented on #219
Hi @tiagoasousa,

The latest version of FortiOS Terraform provider v1.14.1 fixed this issue. Please switch to v1.14.1 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-04-28 22:35] lix-fortinet commented on #220
Hi @zippanto,

The latest version of FortiOS Terraform provider v1.14.1 fixed this issue. Please switch to v1.14.1 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-04-28 22:37] lix-fortinet commented on #222
Hi @leonardoauribe,

The latest version of FortiOS Terraform provider v1.14.1 fixed this issue. Please switch to v1.14.1 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-04-28 22:45] lix-fortinet commented on #223
Hi @leonardoauribe,

Thank you for your information. Team is still working to reproduce this issue. We will get back to you once it has some updates.

Thanks,
Xing

[2022-04-29 07:17] tomelfring commented on #206
Hi @lix-fortinet,

I can confirm the issue has been fixed.

[2022-04-29 07:17] #206 closed

[2022-04-29 08:32] jalmeroth opened #230 "fortios_vpncertificate_local: certificate attribute needs to be updated"
Hi there 👋,

I am trying to import a certificate like this:

[code]

The import succeeds and the certificate is available. Unfortunately, terraform wants to update the `certificate` attribute on every subsequent run. A `terraform state show fortios_vpncertificate_local.letsencrypt` confirms the `certificate` value is empty after creation/update.

### Versions

#### Terraform

#### FortiOS

[2022-04-29 08:54] jalmeroth opened #231 "fortios_system_global: all attributes will be destroyed"
Hi there 👋,

I am trying to apply an imported certificate (see #230) like this:

[code]

### Plan

This is the Terraform plan:

### Issue

Applying only the `admin_server_cert` succeeds and the certificate is beeing used. Unfortunately, all other attributes of `fortios_system_global` were imported into terraform state, which can be validated by `terraform state show fortios_system_global.system_gl

[2022-04-29 14:25] #220 closed

[2022-04-29 22:59] lix-fortinet commented on #229
Hi @stephaneclavel,

Thank you for raising this issue. Team is working on this issue. We will get back to you once we have any update.

Thanks,
Xing

[2022-05-02 08:31] xabinapal commented on #189
Just verified in 1.14.1 that this is supported now. Thanks!

[code]

[2022-05-02 08:31] #189 closed

[2022-05-03 11:16] acc4all commented on #211
Hi @lix-fortinet ,
    The provider v1.14.1 worked like charm, thanks.

[2022-05-03 11:16] #211 closed

[2022-05-04 21:00] lix-fortinet commented on #230
Hi @jalmeroth,

Thank you for raising this issue. Team are working on this issue. We will fix it in the next release, and will get back to you once it's resolved.

Thanks,
Xing

[2022-05-04 21:08] lix-fortinet commented on #231
Hi @jalmeroth,

Thank you for raising this issue. Team are working on this issue. We will fix it in the next release, and will get back to you once it's resolved.

Thanks,
Xing

[2022-05-06 20:07] Isawan opened #232 "Cyclic dependency when deleting interfaces that are part of a zone resource"
Hi,

We've encountered an issue with the design of the fortios_system_zone resource when attempting to delete an interface in the interface list of the zone. Here's an example of a setup with the problem. Excuse the fake IP addresses as this is extracted from a larger set up. For context, we are using this internally to aggregate throughput of multiple IPSec tunnels.
[code]

This type of setup cre

[2022-05-06 21:49] lix-fortinet commented on #232
Hi @Isawan,

Thank you for raising this issue. For create/delete resources that have references, set `create_before_destroy` to `true` in lifecycle will resolve it. It will put the `delete` operation after updated other resources. For your case, you could update resource `fortios_system_interface` like this:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2022-05-09 09:33] simonliska opened #233 "fortios_firewall_address unset associated_interface"
Changing associated_interface from `port1` (i.e)  to `any` is not possible with value `any` or comment line:

[code]
Any value just return error 500 and comment line:
[code]
Changing  `associated_interface` to `any` in Fortigate CLI:
[code]
Version: FortiOS v6.2.10 build1263 (GA)
FortiGate 100D

[2022-05-09 09:59] pirum-isawan commented on #232
I ended up sticking the lifecycle policy on the fortios_system_zone resources and it seems to work. Thanks!

[2022-05-09 18:18] lix-fortinet commented on #233
Hi @simonliska,

Thank you for raising this issue. Team are working on this issue. We will get back to you once it's resolved.

Thanks,
Xing

[2022-05-09 18:20] lix-fortinet commented on #232
Hi @Isawan,

You are very welcome. I will close this issue. If you have other issues, feel free to reopen it or create another issue.

Thanks,
Xing

[2022-05-09 18:21] #232 closed

[2022-05-09 20:39] leonardoauribe commented on #222
Will give that a try. thanks!

[2022-05-09 21:39] leonardoauribe commented on #224
Argument 'dynamic_sort_subtable" is set to false on all resources. I went ahead and changed the member sequence on the Fortigates to match the sequence in the .tfstate file and that did the trick. I do still believe a solution should be put in place to where order doesn't matter. thanks for the help on this issue.

[2022-05-09 22:10] lix-fortinet commented on #224
Hi @leonardoauribe,

Thank you for your comment. Team are working on the sorting issue. We will get back to you once we have any updates.

Thanks,
Xing

[2022-05-20 12:49] mkolus opened #234 "fortios_system_admin: attribute ssh-public-key* gets "tokenized""
Hello,

 I'm trying to create an admin user with his SSH public key already configured, and I couldn't get it to work. This is what I got when running tf:

2022-05-19T18:05:18.493-0300 [ERROR] vertex "fortios_system_admin.tec_admin" error: Error creating SystemAdmin resource: Internal Server Error - Internal error when processing the request (500)
Cli response:
**Invalid SSH public key.**
**node_c

[2022-05-24 22:39] jvankralingen-oss opened #235 "fortios_firewall_address: sdn populated address objects have 'list' attribute replaced at every run"
Terraform Version - 13.2
Fortios Version - 1.14.1

Hello,

I have just updated my workspace to use the latest provider version of Fortios (1.14.1).

A number of host fortios firewall address objects are dynamically created during my workspace run using a filter/sdn to populate the address objects from my cloud environment.

These objects are created with a blank 'list' attribute (as the IP informa

[2022-05-25 05:11] kev-in-shu commented on #193
Hi Xing,

I could test the new release. This improvement in error handling is really useful!

Thanks
Kevin

[2022-05-25 05:11] #193 closed

[2022-05-25 14:03] jalmeroth commented on #230
TWIMC: Meanwhile we are using the following as a workaround now:

[code]

[2022-05-27 19:19] lix-fortinet commented on #234
Hi @mkolus,

Thank you for raising this issue. The reason for this issue is that without quotes, CLI will consider the ssh public key content as multiple strings. So, CLI will not get the whole content of the ssh public key, and return an error of 'SSH Key is invalid'. We will fix this issue in the next release, and also will get back to you once the new version been released.

Thanks,
Xing

[2022-05-27 20:44] drbillgates opened #236 "fortios_vpncertificate_local: importing certificate from azure keyvault missing exemples and api documentation."
I'm trying to import a .pfx from Azure Keyvault using Terraform with the fortios provider into fortigate local certificate config. I'm having a hard time figuring out what arguments are possible/required to import the certificate.

Is there any documentation available to know what type or certificate it is possible to import other than "regular" what parameters need to be used to succesfully impor

[2022-06-01 22:43] lix-fortinet commented on #235
Hi @jvankralingen-oss,

Thank you for raising this issue. Team are working on this issue. We will fix it in the next release and get back to you once it's resolved.

Thanks,
Xing

[2022-06-03 19:14] lix-fortinet commented on #236
Hi @drbillgates,

Thank you for raising this issue. The API to import an base64 encoded certificate is `/api/v2/monitor/vpn-certificate/local/import`. For your scenario, you are tring to import a .pfx file. Could you change the type to 'pkcs12' and privide the password for the certificate. For example:
[code]

Please let me know if you have any questions.

Thanks,
Xing

[2022-06-09 20:08] dandbr opened #237 "error creating vip and rule"
hello problem to run completely code fortinet.

[Problema]
fortios_networking_interface_port.port11: Creating...
fortios_firewall_vip.vip: Creating...
fortios_firewall_policy.rule: Creating...
fortios_networking_interface_port.port11: Creation complete after 0s [id=LAN_TESTE]
╷
│ Error: Error creating FirewallVip resource: Internal Server Error - Internal error when processing the request (500)
│

[2022-06-09 23:47] lix-fortinet commented on #237
Hi @dandbr,

Thank you for raising this issue. It seems like the configuration content is not correct. I tested in my side, and the only place need to be modified is the argument `service` in resource `fortios_firewall_policy`. It should be "ALL" rather than "all". It works good in my end after changed "all" to "ALL" of argument `service`. As for resource `fortios_firewall_vip`, could you config i

[2022-06-10 17:33] lix-fortinet commented on #237
Hi @dandbr,

Thank you for your response. The screenshot of the HA physical interface 'WAN_BGP_ROUTER' shows that 'WAN_BGP_ROUTER' is an alias, not the real name. The real name is 'ha'. Could you switch 'WAN_BGP_ROUTER' to 'ha' in both of resource `fortios_firewall_vip` and `fortios_firewall_policy`, and try it again? Please let me know if it still not work.

Thanks,
Xing

[2022-06-10 19:47] dandbr commented on #237
It's Work Xing.

and if I want to use the alias, what would it look like?

[2022-06-10 22:06] lix-fortinet commented on #237
Hi @dandbr,

I am glad to hear it works. Alias could be duplicated, which means you could set the same alias for different interfaces. So, I don't think you could use the alias as the key to reference.

Thanks,
Xing

[2022-06-24 10:38] #210 closed

[2022-06-24 14:18] afmoreno1982 opened #238 "FortiOS provider `cabundlefile` configuration"
Request for fortios provider configuration `cabundlefile` argument to accept input as variable content.

Actual `cabundlefile` argument only accepts the path of the file certificate
[code]

Propose to be change to accept certificate content

if `cabundlefile` certificate has to readed from a file:
[code]

if `cabundlefile` certificate is stored as string inside a variable:
[code]

[2022-06-28 00:16] lix-fortinet commented on #238
Hi @afmoreno1982,

Thank you for raising this request. We will consider it, and will get back to you once we have any update.

Thanks,
Xing

[2022-06-29 19:19] jacksonwg opened #239 "fortios_system_interface dhcp_relay_ip always updated"
The value of the `dhcp_relay_ip` attribute on fortios_system_interface is wrapped with quotation marks after being set. This causes the plan and apply to indicate a change even when there is no actual change.

[code]

When viewed in the GUI and CLI, the value displayed is just `10.0.0.3` without any quotes.

[2022-06-29 23:39] lix-fortinet commented on #239
Hi @jacksonwg,

Thank you for raising this issue. The reason for this issue is that the response from REST API contains extra quotation. We will work with the related team to find a solution for it. And we will get back to you once it's resolved.

Thanks,
Xing

[2022-07-20 11:45] dionildetd opened #240 "terraform resource fortios_system_fipscc does not work for AWS FGT VM"
I was trying to activate fipscc on aws fortigate vm using the terraform resource below with no sucess:
resource "fortios_system_fipscc" "trname" {
  entropy_token            = "enable"
  key_generation_self_test = "disable"
  self_test_period         = 1440
  status                   = "disable"
}

Since the manual config is as follow on AWS VMs, I guess the above resource is only available for ph

[2022-07-22 23:00] lix-fortinet commented on #240
Hi @dionildetd,

Thank you for raising this issue. We are working with related teams for this issue. And we will get back to you once it's resolved.

Thanks,
Xing

[2022-07-26 11:45] dionildetd commented on #240
Hi Xing,

Thanks for the update.

Regards,
Dionilde

[2022-08-03 09:46] mathgonzlez opened #242 "fortios_systemdhcp_serverlist - Internal Server Error (500)"
Hi,

I am trying to configure the DHCP service, but when I try to apply it, I receive the following error:

Attached details of the terraform file:

[code]

Thanks.

[2022-08-03 17:57] lix-fortinet commented on #242
Hi @mathgonzlez,

Thank you for raising this issue. There are two errors that I can see: `netmask` should not be `0.0.0.0`, and `start_ip` should be smaller than `end_ip` in `ip_range`. Please correct these two errors and try it again.

For instance:
[code]

Thanks,
Xing

[2022-08-08 16:26] mathgonzlez commented on #242
thank you very much for the help, the error was the ip range

[2022-08-08 16:26] #242 closed

[2022-08-08 19:11] fortinetps commented on #152
It seems Fortinet didn't the problem, as I tested with version 1.41.1, it has the same issue. The workaround worked though. Could you please please fix it?

my test code:
resource fortios_certificate_ca "certificate_ca" {
  name = "Trusted CA Root - Home"
  ca = file("/workspaces/tf-aws-lab/home/test/cert/ca.root.home.cert.pem")
# also tried filebase64 ...
  range = "global"
  source = "user"
  ss

[2022-08-08 23:52] lix-fortinet commented on #239
Hi @jacksonwg,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Thanks,
Xing

[2022-08-08 23:59] lix-fortinet commented on #238
Hi @afmoreno1982,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again. To keep the compatibility of the project, we added a new parameter `cabundlecontent` to the provider configuration.

Thanks,
Xing

[2022-08-09 00:03] lix-fortinet commented on #235
Hi @jvankralingen-oss,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-08-09 00:12] lix-fortinet commented on #234
Hi @mkolus,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-08-09 16:54] lix-fortinet commented on #233
Hi @simonliska,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. The CLI and REST API do not accept value `any`. GUI will show `any` if `associated_interface` not specified (value is empty). Set `associated_interface` to empty string or just delete it will unset it, which means set it to `any`. Please switch to the latest version of FortiOS Terraform provider

[2022-08-09 16:56] lix-fortinet commented on #230
Hi @jalmeroth,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-08-09 16:59] lix-fortinet commented on #229
Hi @stephaneclavel,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. We added a new parameter `http_proxy` to provider configuration. You could specify it in provider configuration. Also, you could configure it in environment variables `HTTP_PROXY` or `HTTPS_PROXY`.  Please switch to the latest version of FortiOS Terraform provider and try it again.

Please l

[2022-08-09 17:17] lix-fortinet commented on #228
Hi @rpuserh,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-08-09 17:40] lix-fortinet commented on #226
Hi @rpuserh,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.15.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

We applied `dynamic_sort_subtable` to parameter `authentication_rule`. Also, we added two options for `dynamic_sort_subtable`:  `natural`, `alphabetical`. `natural`: sort tables in natural order. For example: [ a10

[2022-08-09 17:55] fortinetps commented on #152
It took me a day to figure out the problem and solution,
The problem is FOS API simply pass the cert string to FOS CLI for execution, and since there is space in the cert string, FOS CLI interprets the string incorrectly. So the solution, is to add double quotes around the cert string, and that solve the problem. See below for the example. The document is poorly written.
cert.tf
resource fortios_c

[2022-08-09 17:57] fortinetps commented on #152
The real solution, I would recommend, is to fix the issue in func "CreateCertificateCa" in the sdkfos.go module...

[2022-08-11 08:58] MilesTails commented on #217
Hi,

So after testing this in v1.15 I can see there is still a problem with alphanumeric sorting. Longer strings are sorted to the top but the API returns shorter strings sorted first.

[code]

[2022-08-11 17:39] lix-fortinet commented on #217
Hi @MilesTails,

Thank you for your update. Could you try `terraform apply`, then run `terraform plan` to see whether it works? `dynamic_sort_subtable` will be applied and sort the list once you run `terraform apply`.

Thanks,
Xing

[2022-08-12 21:06] lix-fortinet commented on #152
Hi @fortinetps,

Thank you for contributing to Terraform FortiOS provider. We will make some improvements in the next release. But we still recommend users to use `fortios_json_generic_api`. Since API team only left the `GET` operation for the related API. Here is the reference: https://fndn.fortinet.net/index.php?/fortiapi/1-fortios/1937/1/certificate/. So, it may cause unstable for this resource

[2022-08-15 18:00] jacksonwg commented on #239
Thanks very much for letting me know.

I've tried out the new provider version and verified I am no longer seeing the behaviour I initially described.

[2022-08-15 18:00] #239 closed

[2022-08-25 10:09] gmintoco commented on #213
@lix-fortinet

I have attempted again now after updating our fortigates to 6.4.8 61F - I have a CLI error as well which will hopefully help:

[code]

Error:

[code]

[code]

[code]

[2022-08-30 14:07] aarjbdea opened #243 "Firewall Policy - PolicyID keeps forcing replacement"
When configuring a new firewall policy with policyid not set it will attempt to set the policyid to null on each terraform apply run and then will force a replacement of the firewall policy. From previous issues this shouldnt happen (https://github.com/fortinetdev/terraform-provider-fortios/issues/160) as the policyid is stored within the terraform state file. Any ideas?

This is one of the lines

[2022-09-01 02:12] gmintoco commented on #243
We are having this issue too - every apply job all policies get recreated

[2022-09-01 09:16] aarjbdea commented on #243
Ive done some testing today and it would appear that v1.15.0 has broken this - v1.14.1 is working correctly and is not recreating the firewall policies

[2022-09-01 10:29] pedrojgsbraga commented on #243
Hi, @aarjbdea @gmintoco
Apply this config on the firewall policy resource:

[code]

It work for me.

[2022-09-01 22:12] lix-fortinet commented on #243
Hi @aarjbdea,

Thank you for raising this issue. Team are working on this issue. We will fix it in the next release.

Thanks,
Xing

[2022-09-05 09:13] michaelj93 commented on #213
Have you tried appending an additional \" to the start and end of your certificate as per https://github.com/fortinetdev/terraform-provider-fortios/issues/216#issuecomment-1071913685

My experience on 1.15.0 is as follows:

This does not work
 ca = <<EOT
-----BEGIN CERTIFICATE-----
cert contents
-----END CERTIFICATE-----
EOT

Does work
 ca = <<EOT
"-----BEGIN CERTIFICATE-----
cert contents
-----EN

[2022-09-06 09:39] michaelj93 commented on #213
Additionally noting that while fortios_vpncertificate_ca works with addition quotation marks for the "ca" parameter, there is still an issue with the value of "ca" not making it in to terraform state. As such every terraform run the resource will be updated as "ca" appears to be empty.
This does not look to be an issue with the fortios terraform provider but rather a limitation with the cmdb api w

[2022-09-07 01:10] TathanT opened #244 "Error creating SystemInterface resource: Internal Server Error - Internal error when processing the request (500)"
When using Terraform to create Fortinet phase1 interface, phase2 interface, and system interfaces, the system interface creation fails with a 500 error.

Error:
[code]

production.tf (it has been modified to protect IPs, API token, and the pksecrets)
[code]

[2022-09-07 07:39] alagoutte commented on #244
hi,

What FortiOS and ansible collection version ?
there is duplicate ressource about von system interface
i think, you need only the kept last system interface vpn (not before create vpn phase1/phase2 interface)

[2022-09-07 12:13] TathanT commented on #244
Hi @alagoutte, good catch. I modified my original post to reflect the version I am using (1.15.0) and to remove the two instances of creating the vpn interface. Now there is just 1 instance of creating vpn interfaces after creating phase 1 and phase 2 interfaces. In my actual terraform file that I am running in production and getting the error, I don't have duplicate entries for the vpn interfaces

[2022-09-07 12:33] alagoutte commented on #244
can you try to enable debug

[code]

[2022-09-07 15:32] TathanT commented on #244
Great suggestion. I enabled debug and the output is below.

[code]

[2022-09-07 16:00] alagoutte commented on #244
[code]

You don't need to create vpnX interface but update the interface create by the vpn...
(need to add interface vpn to data ressource i think...)

[2022-09-07 21:35] lix-fortinet commented on #213
Hi @gmintoco,

Sorry for the late response. For your case, could you try to add extra quotes for the parameter `ca`? For instance:
[code]
The related REST API for this resource may require this format. We will make some improvements for it in the next release.

However, we recommend users using `fortios_json_generic_api` to import certificate. Since, some of the related REST API for certificate re

[2022-09-08 17:42] MaxxLiu22 commented on #244
Hi @TathanT,

Thank you for raising this issue, the reason causing that is fortios has created an system interface with the same name as IPsec phase1 interface after you completed VPN IPsec phase1 interface and phase2 interface, so my suggestion is importing existent system interfaces in terminal ``terraform import fortios_system_interface.vpn vpn`` & `` terraform import fortios_system_interface.v

[2022-09-08 22:58] TathanT commented on #244
Thanks both @alagoutte and @MaxxLiu22 for the help. Originally the 500 error was what caused me to open this issue. Further debugging via the cli helped and finally your added input helped me realize what was happening and the mistake I was making. Thanks!

[2022-09-08 22:58] #244 closed

[2022-09-11 09:09] MilesTails commented on #217
Yep that has fixed it.

[2022-09-11 09:09] #217 closed

[2022-09-11 11:28] MilesTails opened #245 "Upgrade from 1.14 -> 1.15 multiple nullification issues"
Since upgrading to 1.15.0 running on a 6.4.9 estate we're seeing nullification issues under multiple resources. Applying does not clear any of them out. Plans are currently unreadable due to this change. We've noticed this on three resource types so far.

Interfaces - ipv6 block is attempting to be nullified on all interface if it's not set.

[code]
Webfilter profile:

[code]

Address objects:

[c

[2022-09-15 21:04] leonardoauribe commented on #240
I'm having the exact same issue where Terraform can not enable fips-cc mode on my AWS FGT VMs. Following...

[2022-09-20 05:43] lix-fortinet commented on #245
Hi @MilesTails,

Thank you for raising this issue. Team is working on this issue. We will fix it in the next release.

Thanks,
Xing

[2022-09-29 10:01] jzandbergen opened #246 "Unable to set `ldb_method` to something else than `static`."
Hi All,

I am using the v1.15.0 to set a `fortios_firewall_vip` and I seem to be unable to change the ldb_method to something else than `static`.

Given the following terraform:
[code]

When I try to apply, the terraform run completes succesfully and says:
[code]

But nothing changes in the fortigate itself.

Am I doing something wrong here?

Thanks!

[2022-09-29 11:47] Woitekku commented on #216
The issue is not resolved.

Neither:
[code]
nor:
[code]

works...

TF plan/apply shows it correctly, but the the cert is not visible, in gui and in cli... simply it's not there...

Can we have another look on this?

[2022-09-29 18:36] dandbr commented on #237
Hello Xing,

Has anything changed in provider 1.15.0 ? I can not create policies with this new provider.
![image](https://user-images.githubusercontent.com/9317824/193114847-f7759e1a-6ccd-40d1-8fa1-e34905c9f2a0.png)

Code below.

#provider
terraform {
  required_providers {
    fortios = {
      source = "fortinetdev/fortios"
      version = "1.15.0"
    }
  }
}

#provider
provider "fortios" {

[2022-09-29 23:21] lix-fortinet commented on #237
Hi @dandbr,

This issue looks like the interface `ha` is not exist. Could you check whether interface `ha` is existed?

Thanks,
Xing

[2022-09-29 23:44] lix-fortinet commented on #216
Hi @Woitekku,

Could I know the FortiOS version and FortiOS Terraform provider version in your environment? I tested in my end and it works.
![image](https://user-images.githubusercontent.com/71158051/193160791-9e548a62-77f7-47b9-a3a6-4b98427aa9e5.png)

Thanks,
Xing

[2022-09-30 04:54] lix-fortinet commented on #246
Hi @jzandbergen,

Thank you for raising this issue. This issue will occur when setting argument `server_type` to `tcp` at the same time. Somehow, argument `ldb_method` could not be set to value other than `static` when argument `server_type`  also exist for the HTTP request. We have created an internal ticket to track this issue, and we will work with the related team to find a solution. We will g

[2022-09-30 10:54] dandbr commented on #237
@lix-fortinet

Exist, here it is.
![image](https://user-images.githubusercontent.com/9317824/193255099-d8a4d5a7-d24b-4823-9f77-c7a329044018.png)

[2022-10-03 21:12] lix-fortinet commented on #237
Hi @dandbr,

Thank you for your update. Could you check whether the interface `ha` is in the same vdom with the policy? If yes, please try to create the firewall policy by GUI or CLI to see whether you can add interface `ha`.

By the way, please let me know your FortiOS version, so that I can try it in my end. I tested with FortiOS v7.2.1, and it did not reproduce this issue.

Thanks,
Xing

[2022-10-04 11:56] dandbr commented on #237
@lix-fortinet
Hello Xing. I was testing on a lab fortiOS.

But the settings I need to do, is on my production firewall. I'll send you the interfaces and my code.

On my production firewall, I have an aggregation link with two 10G interfaces. And on top of this aggregation I have WAN and LAN interface. How would that look in my code?

edit "LAG1"
        set vdom "root"
        set ip 192.168.55.1

[2022-10-07 05:22] timwsuqld opened #247 "fortios_firewall_localinpolicy order is indeterminate"
Creating multiple `fortios_firewall_localinpolicy` rules will end up with a different order based on different runs.

Policy ID doesn't determine rule order, execution order determines order. And just because they are sequential in terraform config, doesn't mean they'll be executed as such.

2 rules such as (simplified) can end up with rule 2 being created before rule 1, so the deny occurs first.

[2022-10-07 22:34] lix-fortinet commented on #247
Hi @timwsuqld,

Thank you for raising this issue. Could you try resource `fortios_firewall_security_policysort` which could sort the policy? Here is the reference: https://registry.terraform.io/providers/fortinetdev/fortios/latest/docs/resources/fortios_firewall_security_policysort

Thanks,
Xing

[2022-10-08 10:04] MilesTails commented on #245
I can confirm that this is fixed for 6.4.9 and 7.0.7! @lix-fortinet thank you so much ❤

[2022-10-08 10:04] #245 closed

[2022-10-10 17:08] lix-fortinet commented on #245
Hi @MilesTails,

Thank you for your confirmation!

Best regards,
Xing

[2022-10-10 18:00] lix-fortinet commented on #243
Hi @aarjbdea,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.16.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-10-10 18:08] lix-fortinet commented on #152
Hi @fortinetps,

We handled the double quotes issue in the latest release of FortiOS Terraform provider v1.16.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-10-10 18:18] lix-fortinet commented on #238
Hi @afmoreno1982,

We will close this issue since it has been fixed. Feel free to open new issues if you have other questions.

Thanks,
Xing

[2022-10-10 18:18] #238 closed

[2022-10-10 18:30] lix-fortinet commented on #236
Hi @drbillgates,

We will close this issue since this is not an issue. Feel free to reopen it or open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 18:32] lix-fortinet commented on #235
Hi @jvankralingen-oss,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 18:32] #235 closed

[2022-10-10 18:33] lix-fortinet commented on #234
Hi @mkolus,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 18:33] #234 closed

[2022-10-10 18:34] lix-fortinet commented on #233
Hi @simonliska,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 18:34] #233 closed

[2022-10-10 20:40] lix-fortinet commented on #231
Hi @jalmeroth,

Our team has discussed this issue, and we decide not handle it for now. Our design logic is to handle all arguments by Terraform if you let the Terraform provider handle this resource. This resource is a non-deletable resource, so the logic it to reset all arguments to default value for the destroy operation. Also, there are some limitations of Terraform SDK to implement this featu

[2022-10-10 20:42] lix-fortinet commented on #230
Hi @jalmeroth,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 20:42] #230 closed, assigned to nobody

[2022-10-10 20:42] lix-fortinet commented on #229
Hi @stephaneclavel,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 20:42] #229 closed

[2022-10-10 20:43] lix-fortinet commented on #228
Hi @rpuserh,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 20:43] #228 closed

[2022-10-10 20:44] lix-fortinet commented on #226
Hi @rpuserh,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 20:44] #226 closed

[2022-10-10 20:53] lix-fortinet commented on #222
Hi @leonardoauribe,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 20:53] #222 closed

[2022-10-10 20:56] lix-fortinet commented on #221
Hi @zippanto,

This issue has been fixed in the latest release of FortiOS Terraform provider v1.16.0. Please switch to the latest version of FortiOS Terraform provider and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-10-10 21:00] lix-fortinet commented on #214
Hi @acc4all,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:00] #214 closed

[2022-10-10 21:06] lix-fortinet commented on #213
Hi @gmintoco,

We handled the double quote issue in the latest release of FortiOS Terraform provider v1.16.0. You do not need to add extra quotes in your configuration. Please switch to v1.16.0 and have a try.

Thanks,
Xing

[2022-10-10 21:20] lix-fortinet commented on #202
Hi @mobilesuitzero,

We will close this issue since this is not an issue. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:20] #202 closed

[2022-10-10 21:22] lix-fortinet commented on #196
Hi @afmoreno1982,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:22] #196 closed

[2022-10-10 21:23] lix-fortinet commented on #195
Hi @xabinapal,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:23] #195 closed

[2022-10-10 21:24] lix-fortinet commented on #194
Hi @movd,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:24] #194 closed

[2022-10-10 21:47] lix-fortinet commented on #186
Hi @zephyia,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:47] #186 closed

[2022-10-10 21:51] lix-fortinet commented on #184
Hi @MilesTails,

We will close this issue since it has been fixed. Feel free to open a new issue if you have any other questions.

Thanks,
Xing

[2022-10-10 21:51] #184 closed

[2022-10-10 23:54] MaxxLiu22 commented on #237
Hi @dandbr

Thank you for providing your configuration, In your latest code, I changed the service.name from "all" to "ALL", then everything works well on my side by using FortiOS provider 1.15.0 & 1.16.0 on Fortios 7.2.1 & 6.4.10. Also I don't find any interface named "ha" that showed on the error message you provided, do you change the interface name from "ha" to "WAN_BGP_ROUTER"? If you are sti

[2022-10-11 10:56] dandbr commented on #237
@MaxxLiu22

Hello Max,

I redid the code and now it works fine! See below.

#provider
terraform {
  required_providers {
    fortios = {
      source = "fortinetdev/fortios"
      version = "1.15.0"
    }
  }
}

provider "fortios" {
    hostname = "192.168.254.1:4443"
    token = "040w4kssr6jw4x7tx45Hyc3pf0gt4m"
    insecure = "true"
}

#configure interface vlan
resource "fortios_networking_interf

[2022-10-18 19:40] brucedewald opened #248 "Can't update Admin user fortios_system_admin"
Running the following versions
[code]

and on the fortigate
[code]

I can create this resource just fine:
[code]

When I apply this is what I see on the fortigate
[code]

However if I change *any* attribute in the resource, I can not update it. Here, I am just updating the comment as a simple example.
[code]

When I apply I get this error
[code]

And on a debug of httpsd I see this even though I'm

[2022-10-19 20:34] lix-fortinet commented on #248
Hi @brucedewald,

Thank you for raising this issue. Team is working on this issue. We will fix it in the next release, and will get back to you once it's resolved.

Thanks,
Xing

[2022-10-27 13:27] sebbbastien opened #249 "FortiManagerCloud usage"
Hi,

Is this provider able to work with the FortiManagerCloud?

Regards,

[2022-10-27 16:57] leonardoauribe commented on #224
It appears that this issue does still exist on some of our Fortigates. Has there been any progress made with fixing the sorting issue?

[2022-10-28 10:03] aarjbdea opened #251 "fortios_system_vdomlink errors when attempting to create"
When trying to create a VDOM-Link it always errors and the documentation doesn't have any further attributes I can test
`resource "fortios_system_vdomlink" "Test" {
  name = "Test"
  vcluster = "vcluster1"
  type = "PPP"
  vdomparam = "AUT-VDOM"
}`

**Error** - Error creating SystemVdomLink resource: Internal Server Error - Internal error when processing the request (500)
with fortios_system_vdoml

[2022-10-28 17:18] MaxxLiu22 commented on #251
Hi @aarjbdea

Thank you for raising this issue. I can't reproduce this error by using the configuration like below, but you can try to set a different name that sometimes may conflict with existing items. We would appreciate it if you could provide the environment for your test case, like the FortiOS version, FortiOS Terraform provider version, Terraform version, etc. That would be very helpful fo

[2022-10-28 20:21] aarjbdea commented on #251
Hi Maxx,

We are running the latest version of the terraform provider (also tested on 1.14.1) & Terraform version is also the latest
FortiOS - 6.4.8

Regards

[2022-11-04 17:04] MaxxLiu22 commented on #251
Hi @aarjbdea ,

Sorry for the late reply, yes that is expected, now you can import these two interfaces into Terraform, and then edit them to connect any two vdoms. The following example just creates a link between vdom "root" and vdom "AUT-VDOM", feel free to use it and let me know if you still have issues.
[code]

Thanks,
Maxx

[2022-11-10 16:49] PatchMickle opened #252 "fortios_system_interface type=tunnel unnecessarily asks for vlanid"
I'm building a tunnel interface between my firewall and AWS. terraform plan passes, terraform apply asks for vlanid, whether the vlanid field is present or not.

resource "fortios_system_interface" "L2L-AWS-W1P3" {
  name                           = "L2L-AWS-W1P3"
  vdom                           = "root"
  ip                                 = "169.254.16.5 255.255.255.255"
  allowaccess

[2022-11-10 18:26] MaxxLiu22 commented on #252
Hi @PatchMickle ,

Thank you for raising this issue. For creating various tunnels, Terraform has different resources to create interface, such as fortios_system_ipiptunnel for creating IP-IP tunnel interface, fortios_system_gretunnel for creating GRE tunnel interface, fortios_system_sittunnel for creating IP-Sit tunnel interface, etc. Hope that is helpful for you, if you still have issues, feel fr

[2022-11-10 19:45] PatchMickle commented on #252
Thanks Maxx,

I should have been more specific. I'm trying to build the internal IP portion of the IPSec tunnel interface. The piece that holds the second IP in AWS' generated 169.254.x.x/30 network. Building the external portion that connects the two gateways has been solved.

Any help would be appreciated.

Just in case, here's something of a pathetic diagram of what I'm trying to do:

TUNNEL 1:

[2022-11-10 22:06] MaxxLiu22 commented on #252
Hi @PatchMickle ,

Thank you for your information, I get your problem. After you set up the fortios_vpnipsec_phase1interface and fortios_vpnipsec_phase2interface, FortiOS would automatically generate an IPsec tunnel interface with the same name as phase1 interface name, then you need to import this existing interface into Terraform by using cmd`` terraform import fortios_system_interface.labelname

[2022-11-10 23:53] leonardoauribe opened #253 "Use of proxy evn't variables causing connectivity issues"
I use hosts in an isolated environment to configure Fortigate firewalls via Terraform. I've upgraded to the latest provider v1.16.0 and noticed a change in behavior compared to the previous version I was running, 1.14.1. The latest version of fortios provider leverages proxy environment variables for forwarding traffic. It appears to have been introduced in v1.15. This configuration is fine for ac

[2022-11-11 02:46] PatchMickle commented on #252
@MaxxLiu22 you're a friggin genius. That worked. Thank you!!

[2022-11-14 13:15] jungekim opened #254 "unable to create a new vdom using terraform"
I am using as follows;
 - fortios: v7.0.3
 - terraform: fortinetdev/fortios v1.16.0

module.create_new_vdom.fortios_system_vdom.vdom_list["test-vdom"]: Creating...
╷
│ Error: Error creating SystemVdom resource: Forbidden - Request is missing CSRF token or administrator is missing access profile permissions (403)
│
│   with module.create_new_vdom.fortios_system_vdom.vdom_list["test-vdom"],
│   on .

[2022-11-14 18:08] MaxxLiu22 commented on #254
Hi @jungekim ,

Thank you for raising this issue. This error usually happens if you use a wrong token, or don't give an appropriate permission profile to the API user, for the former reason, you could run ``execute api-user generate-key {{api user name}}`` under global vdom to generate a new token, for the latter reason, you could run following cmd to check if you give an appropriate permission to

[2022-11-15 02:18] jungekim commented on #254
after adding the permission, "set accprofile "super_admin"", i have solved the problem!!!
Thank you so much!!

[2022-11-15 02:53] #254 closed

[2022-11-22 09:25] MilesTails opened #255 "fortios_endpointcontrol_fctems resource state lost post firewall upgrade from 6.4 -> 7.0"
After upgrading the firewall from 6.4 -> 7.0 the TF state appears to be lost for fortios_endpointcontrol_fctems and the object attempts to be recreated.

Post upgrade TF output:

Plan:
[code]
Failed apply:
[code]

Reimporting the object state appears to fix the issue. Unsure why state was lost, assumption being fc-ems fabric connector object ID has changed.

Workaround:
[code]

[2022-11-22 18:35] MaxxLiu22 commented on #255
Hi @MilesTails ,

Thank you for raising this issue, I can reproduce this problem on my side. Versions 6.4 and 7.0 are two major versions, they may have some feature design difference for the same resource, like resource fortios_endpointcontrol_fctems in 6.4, you can add a new "name" argument to create a new item, but in 7.0, you can only edit the predefined five items, can't create a new one, this

[2022-11-30 07:42] drs143 commented on #247
@lix-fortinet wouldn't it be possible to simplify the process of organizing the policies by adding another field to the policy resource (e.g. priority) determining it's position? That "policysort" thing really discourage people from using/managing FG by Terraform.  I am still using Azure firewall instead exactly for that reason.